include header

//- Master Wrap : starts
section#mastwrap.mastwrap.slant-bottom.slant-bottom-color
  section#about.about.pad-bottom.white-bg
    .container
      .row
        article.text-left.col-md-12
          h1.main-heading
            span.black.font4
              | Hello, my name is Douglas Nonato.
              br
              em.dark.font3.weight-light I'm a Product Designer. Scroll down and find out how i can help you!
  section.about.pad-top.pad-bottom.white-bg.super-space
    .container
      .row
        article.text-left.col-md-12
          h1.sub-heading
            span.black.font4 Experience.
          p.promo-text.dark.font2.weight-light.add-top-quarter
            | I’m a Graphic Designer with a 360 knowledge of what concerns Web, Graphic and Video Productions.
          p.promo-text.dark.font2.weight-light.add-top-quarter
            | Inspired by design and things moving, since 2008 I've worked in several projects by taking part to every single step of the workflow production. Every project is another opportunity to learn something new.
          p.promo-text.dark.font2.weight-light.add-top-quarter In the last years I have improved my knowledge as SaaS Product Designer

      .row
        h1.sub-heading.col-md-12
          span.black.font4.servicesTitle this is what i can do!
        .col-md-4.feature-icon.text-center
          .feature-icon-wrap
            i.ux
            h4.font4.black UX and UI
            p Leading and improving new web products.
        .col-md-4.feature-icon.text-center
          .feature-icon-wrap
            i.code
            h4.font4.black Code
            p Development of websites, from the scratch to its publication;
        .col-md-4.feature-icon.text-center
          .feature-icon-wrap
            i.motion
            h4.font4.black Motion
            p Editorial videos, 2D and 3D animations.

  section#call-to-action.page.page-section.call-to-action.color-bg
    .container
      .row
        article.col-md-12.text-center
          .btn-wrap.text-center
            a.btn.btn-seven.btn-seven-dark.getInTouch(href='mailto:dougnot@gmail.com')
              | If You have any questions or interest in my services,
              br
              | please don’t be shy, get in touch
              u dougnot@gmail.com
//- Master Wrap : ends

include footer

script(src='assets/javascripts/custom/backstretch-init.js')
