include header

extends ./header.jade

block style
  link(rel='stylesheet', type='text/css', href='assets/css/bda.css')

block meta
  title Douglas Nonato | Beauty Date SaaS Dashboard
  meta(name='description', content='Dashboard case of a salon management SaaS that provides online scheduling for customers.')
  meta(name='keywords', content='Product, experience, UX, dashboard, SaaS, scheduling, interface')

  //- Share image
  meta(property='og:title', content='Douglas Nonato | Beauty Date SaaS Dashboard')
  meta(property='og:description', content='Dashboard case of a salon management SaaS that provides online scheduling for customers.')
  meta(property='og:url', content='https://www.douglasnonato.com/beauty-date-dashboard.html')
  meta(property='og:site_name', content='Douglas Nonato')
  meta(property='og:image', content='https://douglasnonato.com/assets/images/works/beauty-date-dashboard/og-image.jpg')
  meta(property='og:type', content='website')

block content
  //- Main
  main#bda
    #top
    include menu
    #single-project
      //- Content
      section#header.web
        .bg-text.fadeIn
          | Beauty
          br
          | Date
        figure.viewDesktop.fadeIn
          img(src='assets/images/works/beauty-date-dashboard/dashboard-beautydate-header.jpg', alt='Beauty Date SaaS dashboard')
        .flexy.flexy--column.delay-loading
          h1#rev-1.content__title
            | Beauty Date
          figure.viewMobile.fadeIn
            img(src='assets/images/works/beauty-date-dashboard/dashboard-beautydate-header.png', alt='Beauty Date SaaS dashboard')
          #rev-2.block-right
            h2 A salon management SaaS that provides online scheduling for customers

      section#meta.fadeIn
        .flexy
          .col.date
            small
              | DATE —
            br 
            strong
              | Apr_2018
          .col.position
            small
              | ROLE —
            br
            strong
              | Product Designer
          .col.kind
            small
              | KIND —
            br
            strong
              | SaaS Dashboard

      section.description-section
        .flexy
          h3#rev-3 Overview
            .textBorder
              svg
                text(x='0' y='550') 01
          .description#rev-4
            .col-half
              p Beauty Date is an online platform that in addition to offering online appointments for clients, it also offers a complete management system for beauty establishments. The system has resources for financial management, customer relationship management, inventory management, and others.
            .col-half
              p Over the years, without well-defined design guidelines, 
                span the addition of new features resulted in an out of the standard user interface, that was hard to navigate and not intuitive, not only for the client but also for the internal team. The lack of a clear Design System, the addition of new features ends up being a random process.
              p Another point was the visual style that was beginning  to feel outdated.

      section
        figure.fadeIn.mind-map
          img(src='assets/images/works/beauty-date-dashboard/dashboard-mind-map.png', alt='Beauty Date SaaS Mind Map')

      section.description-section.zTop
        .flexy
          .description
            p I was responsible for redesigning the dashboard, what involved collecting customer feedback, building a backlog of the company divisions, designing and prototyping for usability validation. There were so many improvements that I decided to develop this mind map (image above) to organize the business objectives and drivers of each requested item. After that, we could focus on the items that fit the company's strategy.
            p.highlight  
              img(src='assets/images/prototype.svg', alt='Prototype')
              | Without an ideal prototyping tool at the time, I ended up making&nbsp;
              a(href='bda-proto' target='_blank') this prototype
              | &nbsp;with JQuery for the usability test. (it works only at higher resolutions than 1280X800)

      section.full-bg.mb-work
        .flexy
          h3#rev-5 Outcomes
          #rev-6
          .textBorder
            svg
              text(x='0' y='550') 02
          figure.fadeIn
            img(src='assets/images/works/beauty-date-dashboard/dashboard-beautydate-agenda.png', alt='Beauty Date SaaS dashboard')
          figure.fadeIn.modal
            img(src='assets/images/works/beauty-date-dashboard/dashboard-beautydate-modal.png', alt='Beauty Date SaaS Modal')

      section.work-title-left
        .flexy
          h4.fadeIn Services
          figure.fadeIn
            img(src='assets/images/works/beauty-date-dashboard/dashboard-beautydate-services.jpg', alt='Beauty Date SaaS dashboard - Services')
          h4.fadeIn Reports
          figure.fadeIn
            img(src='assets/images/works/beauty-date-dashboard/dashboard-beautydate-reports.jpg', alt='Beauty Date SaaS dashboard - Reports')
          h4.fadeIn Sales Order
          figure.fadeIn
            img(src='assets/images/works/beauty-date-dashboard/dashboard-beautydate-sales-order.jpg', alt='Beauty Date SaaS dashboard - Sales Order')

      section.mobile 
        figure.fadeIn.mobile
          img(src='assets/images/works/beauty-date-dashboard/dashboard-beautydate-mobile.png', alt='Beauty Date SaaS Mobile')

      section
        .flexy.flexy--row.projects--related.fadeIn
          h4.content__title--center Other Projects
          .projects
            a.item(href='calculo-juridico-dashboard.html')
              img(src='assets/images/works/calculo-juridico-dashboard/work-related.jpg', alt='Cálculo Jurídico')
              | Cálculo Jurídico - SaaS Dashboard
            a.item(href='beauty-date-marketplace.html')
              img(src='assets/images/works/beauty-date-marketplace/work-related.jpg', alt='Beauty Date')
              | Beauty Date - Marketplace

      include footer

  include scripts-project