include header

extends ./header.jade

block meta
  title Douglas Nonato | Cálculo Jurídico Dashboard
  meta(name='description', content='Dashboard of a SaaS for Pension and Social Security Calculation')
  meta(name='keywords', content='Service, Product, UX, SaaS, dashboard, Pension, Social Security, Design System')

  //- Share image
  meta(property='og:title', content='Douglas Nonato | Cálculo Jurídico Dashboard')
  meta(property='og:description', content='Dashboard of a SaaS for Pension and Social Security Calculation.')
  meta(property='og:url', content='https://www.douglasnonato.com/calculo-juridico-dashboard.html')
  meta(property='og:site_name', content='Douglas Nonato')
  meta(property='og:image', content='https://www.douglasnonato.com/assets/images/works/calculo-juridico-dashboard/og-image.jpg')
  meta(property='og:type', content='website')

block content
  //- Main
  main
    include menu
    .cd-main-content
      #single-project
        //- Content
        section#header.web
          .bg-text.fadeIn
            | Cálculo
            br
            | Jurídico
          .flexy.flexy--column.delay-loading
            h1#rev-1.content__title
              | Cálculo
              br
              | Jurídico
            figure.fadeIn
              img(src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard-header.png', alt='Cálculo Jurídico SaaS dashboard')
            #rev-2.block-right
              h2 A SaaS for Pension and Social Security Calculation

        section.meta.fadeIn
          .flexy
            .col.date
              small
                | DATE
              br 
              strong
                | Sept / 2018
            .col.position
              small
                | POSITION
              br
              strong
                | UX Designer
            .col.kind
              small
                | KIND
              br
              strong
                | Dashboard

        section
          .flexy
            h3#rev-3 Overview
            .description#rev-4
              p Beauty Date is an online platform that in addition to offering the online appointment for clients also offers a complete management system for beauty establishments. The system has resources for financial management, customer relationship management tool, product inventory control and others.
              p Over the years, with the number of new features that have been added to the tool without a platform design guide, the interface has started to run out of standard and difficult to understand, not only for our user but also internally, without a clear visual system the development of each new feature ends up being a random process. Another point was the visual style that was starting to get outdated.


        section.description-section
          .flexy
            h3#rev-5 The process
            .description#rev-6
              p I was responsible for the dashboard redesign process, from collecting customer feedback, building a backlog of the company sectors, designing and prototyping for usability validation. There were many requests that I developed this mind map (image above) to organize the business objectives and drivers of each requested item, so we could focus on the items that fit the company's strategy.
            figure.fadeIn
              img(src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard-fluxogram.png', alt='Cálculo Jurídico Fluxogram')

        section.description-section
          .flexy
            .description
              p I was responsible for the dashboard redesign process, from collecting customer feedback, building a backlog of the company sectors, designing and prototyping for usability validation. There were many requests that I developed this mind map (image above) to organize the business objectives and drivers of each requested item, so we could focus on the items that fit the company's strategy.
            figure.fadeIn
              img(src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard-3.png', alt='Cálculo Jurídico dashboard')
              figcaption
                .col Old
                .col New

        section.description-section
          .flexy
            .description
              p I was responsible for the dashboard redesign process, from collecting customer feedback, building a backlog of the company sectors, designing and prototyping for usability validation. There were many requests that I developed this mind map (image above) to organize the business objectives and drivers of each requested item, so we could focus on the items that fit the company's strategy.
            figure.fadeIn
              img(src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard-4.png', alt='Cálculo Jurídico dashboard')
              figcaption
                .col Old
                .col New

        section.description-section
          .flexy
            .description.fadeIn
              p.highlight
                | For the usability test I made&nbsp;
                a(href='bda-proto' target='_blank') this prototype
                | &nbsp;with images and JQuery (it works only for higher resolutions than 1280X800)
            figure.fadeIn
              img(src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard-design-system.jpg', alt='Cálculo Jurídico Design System')

        section.full-bg.mb-work
          .flexy
            figure.fadeIn
              img(src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard-1.png', alt='Cálculo Jurídico dashboard')
            figure.fadeIn
              img(src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard-2.png', alt='Cálculo Jurídico dashboard')

            figure.fadeIn.modal
              img(src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard-modal.png', alt='Cálculo Jurídico SaaS Modal')

        section.video.fadeIn
          .flexy
            h3#rev-7 Microinteractions
            .description#rev-8
              p Beauty Date is
            video(loop='', autoplay='', alt='Cálculo Jurídico interface animation', title='Cálculo Jurídico interface animation')
              source(type='video/webm', src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard-motion.webm')
              source(type='video/mp4', src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard-motion.mp4')
            script.
              document.getElementById('vid').play();

        section.work-title-left
          .flexy
            h4.fadeIn Office
            figure.fadeIn
              img(src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard-office.jpg', alt='Cálculo Jurídico dashboard - Office')
            h4.fadeIn Reports
            figure.fadeIn
              img(src='assets/images/works/beauty-date-dashboard/dashboard-beautydate-reports.jpg', alt='Beauty Date SaaS dashboard - Reports')
            h4.fadeIn Sales Order
            figure.fadeIn
              img(src='assets/images/works/beauty-date-dashboard/dashboard-beautydate-sales-order.jpg', alt='Beauty Date SaaS dashboard - Sales Order')
        section.description-section
          .flexy
            .description.pdTop-60
              p As the current dashboard was not 100% mobile friendly, I designed each screen together with its mobile version, since 88% of our users were desktop the system is all modeled as desktop first.
        section     
          figure.fadeIn.mobile
            img(src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard-mobile.png', alt='Cálculo Jurídico SaaS Mobile')

        section
          .flexy.flexy--row.projects--related.fadeIn
            h4.content__title--center Other Projects
            .projects
              a.item(href='beauty-date-dashboard.html')
                img(src='assets/images/works/beauty-date-dashboard/work-related.jpg', alt='Beauty Date')
                | Beauty Date Dashboard
              a.item(href='beauty-date-site.html')
                img(src='assets/images/works/beauty-date-web/work-related.jpg', alt='Beauty Date')
                | Beauty Date Website

        include footer

  include scripts-project