include header

extends ./header.jade

block style
  link(rel='stylesheet', type='text/css', href='assets/css/cj.css')

block meta
  title Douglas Nonato | Cálculo Jurídico Dashboard
  meta(name='description', content='Dashboard of a SaaS for Pension and Social Security Calculation')
  meta(name='keywords', content='Product, UX, SaaS, dashboard, Pension, Social Security, Design System')

  //- Share image
  meta(property='og:title', content='Douglas Nonato | Cálculo Jurídico Dashboard')
  meta(property='og:description', content='Dashboard of a SaaS for Pension and Social Security Calculation.')
  meta(property='og:url', content='https://www.douglasnonato.com/calculo-juridico-dashboard.html')
  meta(property='og:site_name', content='Douglas Nonato')
  meta(property='og:image', content='https://douglasnonato.com/assets/images/works/calculo-juridico-dashboard/og-image.jpg')
  meta(property='og:type', content='website')

block content
  //- Main
  main#cj
    #top
    include menu
    #single-project
      //- Content
      section#header.web
        .bg-text.fadeIn
          | Cálculo
          br
          | Jurídico
        figure.viewDesktop.fadeIn
          img(src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard-header.jpg', alt='Cálculo Jurídico SaaS dashboard')
        .flexy.flexy--column.delay-loading
          h1#rev-1.content__title
            | Cálculo
            br
            | Jurídico
          figure.viewMobile.fadeIn
            img(src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard-header.png', alt='Cálculo Jurídico SaaS dashboard')
          #rev-2.block-right
            h2 A SaaS for Pension and Social Security Calculation

      section#meta.fadeIn
        .flexy
          .col.date
            small
              | DATE —
            br 
            strong
              | Sept_2018
          .col.position
            small
              | ROLE —
            br
            strong
              | UX Designer
          .col.kind
            small
              | KIND —
            br
            strong
              | SaaS Dashboard

      section
        .flexy.intro
          h3#rev-3 Overview
          .textBorder
            svg
              text(x='0' y='550') 01
          .description#rev-4
            .col-half
              p Social security calculations, especially in Brazil, is extremely complex and can take a few days, due to the hundreds of rules and the specific situations of each case, so lawyers usually need the help of a professional counter in the area to perform these calculations.

              p Cálculo Jurídico is an online tool that allows the lawyer himself to be able to perform social security calculations without the need to hire a third party. 
            .col-half
              p The first version of the system was developed using Bootstrap as support for the UI, which for an initial period of the platform worked,
                span but as the tool evolved and new features were added, completing a task in the product started to become complicated for users, which brought the need to develop a work focused on UX, and also the creation of its own UI.


      section.description-section.pdTop-30vh
        .flexy.process
          .col-half
            h3#rev-5 The process
            .textBorder
              svg
                text(x='0' y='550') 02
            .description#rev-6
              p I was responsible for conducting the redesign process, and as a first step we track all possible routes within the system, discover the journeys to perform a given task and thus suggest improvements. With a wide variety of combinations for each calculation, it was not clear how each parameter affected the following screens or the final results, which was on a separate screen. As an improvement, we decided to anticipate some information and create real time feedbacks, to avoid the need to go back and forth between screens to test a new parameter.
          figure.fadeIn.fluxogram
            img(src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard-fluxogram.png', alt='Cálculo Jurídico Fluxogram')
            figcaption
              | [fluxogram]

          .description
            p Some of the structural changes were the transposition of the main menu (1) and the calculations menu (2). The main menu at the header, besides being unusual, didn't allow the addition of more items. The internal calculations menu, on the other hand, didn't seem very connected with the content, in addition to having sub-items that confused and repeated themselves, which were later incorporated into the calculation screens.
          figure.fadeIn
            img(src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard-3.png', alt='Cálculo Jurídico dashboard')
            figcaption
              .col [old]
              .col [new]

          .description
            p In terms of content, due to the complexity of the tasks, it was common to see multiple questions at the same time, to simplify, we decided to bring only one question at a time in the most crucial tasks, as in the calculation wizard.
          figure.fadeIn
            img(src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard-4.png', alt='Cálculo Jurídico dashboard')
            figcaption
              .col [old]
              .col [new]

          h4 Design System
          .description.fadeIn
            P As it was a temporary job, I developed a simple component library, so the development team could implement new features in the future with greater consistency.
          figure.fadeIn
            img(src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard-design-system.jpg', alt='Cálculo Jurídico Design System')

      section.full-bg.mb-work
        .flexy
          h3#rev-7 Outcome
          .textBorder
            svg
              text(x='0' y='550') 03
          figure.fadeIn
            img(src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard-1.png', alt='Cálculo Jurídico dashboard')
            //- Tooltip
            .tooltip.one.fadeIn(data-type='tooltip')
              .tooltip__trigger(role='tooltip')
                span.tooltip__trigger-text More
              .tooltip__base
                svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                  path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
                .tooltip__content New menu structure.
            .tooltip.two.fadeIn(data-type='tooltip')
              .tooltip__trigger(role='tooltip')
                span.tooltip__trigger-text More
              .tooltip__base
                svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                  path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
                .tooltip__content New calculation header with quick access to customer information.
            .tooltip.four.fadeIn(data-type='tooltip')
              .tooltip__trigger(role='tooltip')
                span.tooltip__trigger-text More
              .tooltip__base
                svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                  path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
                .tooltip__content Quick access to initial calculation settings.
            .tooltip.three.fadeIn(data-type='tooltip')
              .tooltip__trigger(role='tooltip')
                span.tooltip__trigger-text More
              .tooltip__base
                svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                  path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
                .tooltip__content Toggles between 2 display modes, table or chart.
            .tooltip.five.fadeIn(data-type='tooltip')
              .tooltip__trigger(role='tooltip')
                span.tooltip__trigger-text More
              .tooltip__base
                svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                  path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
                .tooltip__content The results are now on the same screen as the settings with real-time feedback highlighting any changes.
            .tooltip.six.fadeIn(data-type='tooltip')
              .tooltip__trigger(role='tooltip')
                span.tooltip__trigger-text More
              .tooltip__base
                svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                  path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
                .tooltip__content Call to action for the next calculation step.

          figure.fadeIn
            img(src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard-2.png', alt='Cálculo Jurídico dashboard')

          figure.fadeIn.modal
            img(src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard-modal.png', alt='Cálculo Jurídico SaaS Modal')

      section.video.fadeIn
        .flexy
          h4 Microinteractions
          .description
            p One of the problems brought up was that, due to the complexity of performing the calculation in the manual method, new users were suspicious about the veracity of the calculation, since the system presented the result instantly, for that we chose to create animations during the calculations, informing that the computer was processing and would soon present the data.
          video(loop='', autoplay='', muted, alt='Cálculo Jurídico interface animation', title='Cálculo Jurídico microinteraction')
            source(type='video/webm', src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard-microinteraction.webm')
            source(type='video/mp4', src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard-microinteraction.mp4')
          script.
            document.getElementById('vid').play();

      section.mobile
        figure.fadeIn
          img(src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard-mobile.png', alt='Cálculo Jurídico SaaS Mobile')
          //- Tooltip
          .tooltip.mobile.fadeIn(data-type='tooltip')
            .tooltip__trigger(role='tooltip')
              span.tooltip__trigger-text More
            .tooltip__base
              svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
              .tooltip__content All screens fully prepared for both desktop and mobile access.

      section.half
        .flexy
          .col
            .item
              h5.fadeIn Calculation Wizard
              figure.fadeIn
                img(src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard-wizard-calculation.jpg', alt='Cálculo Jurídico dashboard - Calculation Wizard')
                //- Tooltip
                .tooltip.seven.fadeIn(data-type='tooltip')
                  .tooltip__trigger(role='tooltip')
                    span.tooltip__trigger-text More
                  .tooltip__base
                    svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                      path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
                    .tooltip__content New calculation onboarding. Now in the style of cards, it presents a brief introduction related to the type of calculation to be done.                
            .item
              h5.fadeIn Empty List
              figure.fadeIn
                img(src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard-empty-list.jpg', alt='Cálculo Jurídico dashboard - Empty List')
                //- Tooltip
                .tooltip.eight.fadeIn(data-type='tooltip')
                  .tooltip__trigger(role='tooltip')
                    span.tooltip__trigger-text More
                  .tooltip__base
                    svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                      path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
                    .tooltip__content Each screen now has a empty space with instructions for the section task.   
            .item
              h5.fadeIn Office
              figure.fadeIn
                img(src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard-office.jpg', alt='Cálculo Jurídico dashboard - Office')

          .col
            .item
              h5.fadeIn Empty Space
              figure.fadeIn
                img(src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard-empty-calculation.jpg', alt='Cálculo Jurídico dashboard - Empty Space')
                //- Tooltip
                .tooltip.nine.fadeIn(data-type='tooltip')
                  .tooltip__trigger(role='tooltip')
                    span.tooltip__trigger-text More
                  .tooltip__base
                    svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                      path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
                    .tooltip__content Each screen now has a empty space with instructions for the section task.    
            .item
              h5.fadeIn Client page
              figure.fadeIn
                img(src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard-client.jpg', alt='Cálculo Jurídico dashboard - Client page')
                //- Tooltip
                .tooltip.ten.fadeIn(data-type='tooltip')
                  .tooltip__trigger(role='tooltip')
                    span.tooltip__trigger-text More
                  .tooltip__base
                    svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                      path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
                    .tooltip__content Calculation history, comments and attachment of documents related to the client's case. 

      section
        .flexy.flexy--row.projects--related.fadeIn
          h4.content__title--center Other Projects
          .projects
            a.item(href='beauty-date-dashboard.html')
              img(src='assets/images/works/beauty-date-dashboard/work-related.jpg', alt='Beauty Date Dashboard')
              | Beauty Date - SaaS Dashboard
            a.item(href='sebrae-portal-ecommerce.html')
              img(src='assets/images/works/sebrae-portal/work-related.jpg', alt='Sebrae Portal and E-commmerce')
              | Sebrae - Portal and E-commerce

      include footer

  include scripts-project