section.mastfoot
  .container-fluid
    .row
      article.text-left.col-md-6.dark-bg.text-center
        .valign
          ul.foot-social
            li
              a(target='_blank', href='https://br.linkedin.com/pub/douglas-nonato/3b/64b/45a')
                img(data-no-retina='', src='assets/images/social/linkedin.png', title='Linkedin', alt='Linkedin')
            li
              a(target='_blank', href='https://vimeo.com/user6729671')
                img(data-no-retina='', src='assets/images/social/vimeo.png', title='Vimeo', alt='Vimeo')

      article.text-right.col-md-6.white-bg.text-center
        .valign
          p.credits.font2.dark
            | Get in touch&nbsp;
            a(href='mailto:dougnot@gmail.com') dougnot@gmail.com
            br
            | Copyright © 2015 | Douglas Nonato

//- Core JS Libraries
script(src='assets/javascripts/libs/plugins.js', type='text/javascript')

//- JS Custom Codes
script(src='assets/javascripts/custom/navmenu-init.js')
script(src='assets/javascripts/custom/equalheights-init.js')
script(src='assets/javascripts/custom/isotope-init.js')
script(src='assets/javascripts/custom/venobox-init.js')
script(src='assets/javascripts/custom/main.js')
script(src='assets/javascripts/custom/form-validation.js')