section#call-to-action
  .flexy.flexy--row
       a(href='mailto:dougnot@gmail.com')
        | If You have any questions or interest in my services, please don’t be shy, get in touch
        u dougnot@gmail.com

footer
  .content-warp
    p
      | I'm always looking for challenges, willing to discuss and share ideas, each project is an opportunity to learn something new.
    ul
      li
        a(href='hello') About me
      li
        a(href='hello/Douglas-Nonato-Resume-2017.pdf' target='_blank') Resume
      li
        a(href='https://br.linkedin.com/in/douglas-nonato-45a64b3b' target='_blank') Linkedin
    ul
      li
        a(href='https://github.com/douglasnonato' target='_blank') GitHub
      li
        a(href='https://www.instagram.com/dougnot/' target='_blank') Instagram
      li
        a(href='https://vimeo.com/user6729671' target='_blank') Vimeo