section#call-to-action
  .flexy.flexy--row
       a(href='mailto:dougnot@gmail.com') If You have any questions or interest in my services, please don’t be shy, get in touch
        u dougnot@gmail.com

  a.scroll-to.fadeIn(href='#top')
    span.scroll-arrow
    span.scroll-line
    .text  Scroll


footer
  .content-warp
    .row.flexy
      p I'm always looking for challenges, willing to discuss and share ideas. Each project is an opportunity to learn something new.
      ul
        li
          a(href='hello') About me
        li
          a(href='hello/Douglas-Nonato-Resume.pdf' target='_blank') Resume
        li
          a(href='https://br.linkedin.com/in/douglas-nonato' target='_blank') Linkedin
    .row
      .code
        span
          i
          | site coded by myself