doctype html
head

  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='author', content='Douglas Nonato')
  meta(name='owner', content='dougnot@gmail.com')

  block meta
    title Douglas Nonato | Product Designer - Project Manager
    meta(name='description', content='Hello, my name is Douglas Nonato and I am a Project Manager/Product Designer with extensive experience in the Digital World.')
    meta(name='keywords', content='Senior, Product, experience, designer, SaaS, web, UI, UX')

    //- Share image
    meta(property='og:title', content='Douglas Nonato | Project Manager - Product Designer')
    meta(property='og:description', content='Hello, my name is Douglas Nonato and I am a Project Manager/Service Designers with extensive experience in the Digital World.')
    meta(property='og:url', content='https://www.douglasnonato.com/')
    meta(property='og:site_name', content='Douglas Nonato')
    meta(property='og:image', content='https://douglasnonato.com/assets/images/douglas-nonato.jpg')
    meta(property='og:type', content='website')

  //- Standard Favicon
  link(rel='shortcut icon', href='assets/favico/favicon.ico')

  link(rel='apple-touch-icon', sizes='57x57', href='assets/favico/apple-icon-57x57.png')
  link(rel='apple-touch-icon', sizes='60x60', href='assets/favico/apple-icon-60x60.png')
  link(rel='apple-touch-icon', sizes='72x72', href='assets/favico/apple-icon-72x72.png')
  link(rel='apple-touch-icon', sizes='76x76', href='assets/favico/apple-icon-76x76.png')
  link(rel='apple-touch-icon', sizes='114x114', href='assets/favico/apple-icon-114x114.png')
  link(rel='apple-touch-icon', sizes='120x120', href='assets/favico/apple-icon-120x120.png')
  link(rel='apple-touch-icon', sizes='144x144', href='assets/favico/apple-icon-144x144.png')
  link(rel='apple-touch-icon', sizes='152x152', href='assets/favico/apple-icon-152x152.png')
  link(rel='apple-touch-icon', sizes='180x180', href='assets/favico/apple-icon-180x180.png')
  link(rel='icon', type='image/png', sizes='192x192', href='assets/favico/android-icon-192x192.png')
  link(rel='icon', type='image/png', sizes='32x32', href='assets/favico/favicon-32x32.png')
  link(rel='icon', type='image/png', sizes='96x96', href='assets/favico/favicon-96x96.png')
  link(rel='icon', type='image/png', sizes='16x16', href='assets/favico/favicon-16x16.png')
  link(rel='manifest', href='assets/favico/manifest.json')
  meta(name='msapplication-TileColor', content='#ffffff')
  meta(name='msapplication-TileImage', content='assets/favico/ms-icon-144x144.png')
  meta(name='theme-color', content='#ffffff')

  link(rel="preconnect" href="https://fonts.gstatic.com")
  link(href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:100,200,300,400,500,600,700,800&display=swap" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,800;0,900;1,700&display=swap" rel="stylesheet")

  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')

  link(rel='stylesheet', type='text/css', href='assets/css/normalize.css')
  link(rel='stylesheet', type='text/css', href='assets/css/main.css')
  link(rel='stylesheet', type='text/css', href='assets/css/effects.css')
  link(rel='stylesheet', type='text/css', href='assets/css/menu-style.css')
  link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css')
  block style

  script(type='text/javascript', src='assets/js/modernizr.js')

  //- Global site tag (gtag.js) - Google Analytics
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-10693165-6')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-10693165-6');

body

  //- Cursor
  .cursor-outer
    .cursor

block content
