extends ./header.jade


block content
  main
    #top
    include menu-index
    //- Content
    section#intro.delay-loading
      .content
        header
        h1#rev-heading-1.content__title.cd-headline.letters.type
          span Hello,&nbsp;
          br.desktop
          span my name is&nbsp;
          span.highlight Douglas Nonato
          br
          span.hide 👨‍💻&nbsp;
          span.cd-words-wrapper.waiting
            b.is-visible I'm a Designer with...
            b 14+ years of experience
            b Ecomm, App, and IoT expertise
            b and a rapid prototype instructor
            
        h2#rev-heading-2
          | Inspired by the Digital World, since 2008 I have been helping companies to build winning solutions and stand out from the competition. With a solid skills set that goes from visual, motion design, usability and prototyping to frontend development, I'm able of being a great player in the most diverse scenarios and teams. From a strategic perspective, over the past couple of years, I have mastered my leadership skills by ensuring agile deliveries and incorporating Design Thinking techniques to meet organizational requirements.
        
        h3#rev-heading-3
          span Currently Designer Manager at
          figure
              img.content__image(src='assets/images/whirlpool.png', alt='Whirlpool')

    section#projects
      .flexy
        .project.fadeIn
          a.link(href='whirlpool-iot.html')
            figure
              img.content__image(src='assets/images/works/whirlpool-iot/whirlpool-app-iot.jpg', alt='Whirlpool IoT App')
          .info
            small #May_2022
            h2.content__title
              | Internet of Things. Smart Home Solutions for one of the Largest Home Appliance companies in the world.
            div
              button.fxButton.fxButton--border.one(onclick="window.location.href = 'whirlpool-iot.html'")
                span.fxButton__text.one
                  | Check it out
                .fxButton__border.one
                  | Check it out 

        .project.fadeIn
          a.link(href='sebrae-portal-ecommerce.html')
            figure
              img.content__image(src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae.jpg', alt='Sebrae Portal and E-commerce')
          .info
            small #Jun_2020
            h2.content__title
              | Sebrae's WebPortal and E-commerce platform. Rebuilding the main digital channel of Brazil's largest consultancy company.
            div
              button.fxButton.fxButton--border.two(onclick="window.location.href = 'sebrae-portal-ecommerce.html'")
                span.fxButton__text.two
                  | Check-out this project
                .fxButton__border.two
                  | Check-out this project

        .project.fadeIn
          a.link(href='sebrae-covid-19-toolbox.html')
            figure
              img.content__image(src='assets/images/works/sebrae-toolbox/covid-19-toolbox-sebrae.jpg', alt='Sebrae Covid0-19 Toolbox')
          .info
            small #May_2020
            h2.content__title
              | Toolbox: A highly curated collection of entrepreneurial resources. With over 70 tools, Toolbox was developed within a month to help entrepreneurs overcome COVID-19 challenges.
            div
              button.fxButton.fxButton--border.three(onclick="window.location.href = 'sebrae-covid-19-toolbox.html'")
                span.fxButton__text.three
                  | Check-out this project
                .fxButton__border.three
                  | Check-out this project

        .project.fadeIn.course
          a.link(href='https://www.udemy.com/course/prototipagem-rapida-de-interface-figma/?referralCode=375991E976D05F1C0ECB' target='_blank')
            figure
              img.content__image(src='assets/images/works/rapid-prototype-course/rapid-prototype-course.jpg', alt='Rapid Prototype Course')
          .info
            h2.content__title
              | Rapid prototyping in 3 methods, to apply in Design Sprints or to validate your own ideas.
            div
              button.fxButton.fxButton--border.five(onclick="window.open('https://www.udemy.com/course/prototipagem-rapida-de-interface-figma/?referralCode=375991E976D05F1C0ECB','_blank')")
                span.fxButton__text.five
                  | Check-out the course
                .fxButton__border.five
                  | Check-out the course

        .project.fadeIn.podcast
          a.link(href='https://www.udemy.com/course/prototipagem-rapida-de-interface-figma/?referralCode=375991E976D05F1C0ECB' target='_blank')
            figure
              img.content__image(src='assets/images/works/podcast/design-system-podcast.jpg', alt='Design System Podcast')
          .info
            h2.content__title
              | PODcrer - How micro and small businesses can benefit from using a Design System.
            div
              button.fxButton.fxButton--border.six(onclick="window.open('https://open.spotify.com/episode/43zr1IpnBqFbT8CNcnnA3m?si=g-aMOL6xQnGz0D1hgkQIig','_blank')")
                span.fxButton__text.six
                  | Listen now
                .fxButton__border.six
                  | Listen now

        .project.fadeIn
          a.link(href='sebrae-design-sprint-prototype.html')
            figure
              img.content__image(src='assets/images/works/sebrae-design-sprint/sebrae-design-sprint-prototyping.jpg', alt='Sebrae Design Sprint Prototyping')
          .info
            small #Jan_2020
            h2.content__title
              | Design thinking and high-fidelity prototyping in a Design Sprint workshop.
            div
              button.fxButton.fxButton--border.four(onclick="window.location.href = 'sebrae-design-sprint-prototype.html'")
                span.fxButton__text.four
                  | Check-out this project
                .fxButton__border.four
                  | Check-out this project

        .project.fadeIn
          a.link(href='calculo-juridico-dashboard.html')
            figure
              img.content__image(src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard.jpg', alt='Cálculo Jurídico SaaS Dashboard')
          .info
            small #Sept_2018
            h2.content__title
              | Redesign of Cálculo Jurídico Dashboard, a SaaS for Pension and Social Security Calculation.
            div
              button.fxButton.fxButton--border.seven(onclick="window.location.href = 'calculo-juridico-dashboard.html'")
                span.fxButton__text.seven
                  | Check-out this project
                .fxButton__border.seven
                  | Check-out this project

        .project.fadeIn
          a.link(href='beauty-date-dashboard.html')
            figure
              img.content__image(src='assets/images/works/beauty-date-dashboard/dashboard-beauty-date.jpg', alt='Beauty Date SaaS dashboard')
          .info
            small #Apr_2018
            h2.content__title
              | Redesign of Beauty Date dashboard, a hair and beauty salon management SaaS with advanced appointment scheduling.
            div
              button.fxButton.fxButton--border.eight(onclick="window.location.href = 'beauty-date-dashboard.html'")
                span.fxButton__text.eight
                  | Check-out this project
                .fxButton__border.eight
                  | Check-out this project

    section.testimonial.fadeIn
      .content.fadeIn.parallax(data-speed='2', data-parallax='')
        p "Douglas is a person you can rely on inside and outside the company. He is interested, original, talented, and a strategic visionary that combines design, user experience, and business value creation skills. During the time we worked together, I witnessed his evolution from a designer to an experienced product owner, focused on solving customer problems. His abilities cover the whole process of prototyping and product development."
        .name
          span Jorge Buczek —&nbsp;
          strong Director of Valoo
      .content.fadeIn.parallax(data-speed='6', data-parallax='')
        p "Douglas is a very experienced product designer with a wide variety of skills. As a software developer I have recommended him to a few clients that were amazed with the results of his work. He is a good listener and works in a very practical way to find a good solution for each requirement. On the technical side, he is up to date with the latest tools of the trade, like Sketch and Figma."
        .name
          span Giovanni Bonetti —&nbsp;
          strong CTO of Cálculo Jurídico
      figure.dots.parallax(data-speed='4', data-parallax='')
        img(src='assets/images/dots.svg', alt="dots")

    section#carousel
      .owl-carousel.owl-theme
        .item
          h4
            img(src='assets/images/social/douglas-nonato-summit.jpg', alt='Douglas Nonato Summit')
        .item
          h4
            img(src='assets/images/social/douglas-nonato-gampi.jpg', alt='Douglas Nonato Gampi')
        .item
          h4
            img(src='assets/images/social/douglas-nonato-studio.jpg', alt='Douglas Nonato Studio')
        .item
          h4
            img(src='assets/images/social/douglas-nonato-summit-2.jpg', alt='Douglas Nonato Summit')
        .item
          h4
            img(src='assets/images/social/douglas-nonato-studio-2.jpg', alt='Douglas Nonato Studio')
        .item
          h4
            img(src='assets/images/social/douglas-nonato-sprint.jpg', alt='Douglas Nonato Sprint')

    include footer

  include scripts-index