extends ./header.jade


block content
  main
    #top
    include menu-index
    //- Content
    section#intro.delay-loading
      .content
        header
        h1#rev-heading-1.content__title.cd-headline.letters.type
          span Hello,&nbsp;
          br.desktop
          span my name is&nbsp;
          span.highlight Douglas Nonato
          br
          span 👨‍💻 I'm a&nbsp;
          span.cd-words-wrapper.waiting
            b.is-visible Project Manager
            b Product Designer
            b UX Designer
            
        h2#rev-heading-2
          | Inspired by the Digital World, since 2008 I've been helping companies stand out in their segments. With a pretty solid visual and front-end background, I craft digital services with great experience at both a strategic and hands-on level. In the last years I've improved my knowledge as Project Manager working with Digital Products by applying Design Thinking approach into projects to match business strategies.
        
        h3#rev-heading-3
          | Scroll down and find out what I can do!

    section#projects
      .flexy

        .project.fadeIn
          a.link(href='sebrae-portal-ecommerce.html')
            figure
              img.content__image(src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae.jpg', alt='Sebrae Portal and E-commerce')
          .info
            small #Jun_2020
            h2.content__title
              | Sebrae's portal and e-commerce. The complete process of rebuild the main digital channel of a big institution.
            div
              button.fxButton.fxButton--border(onclick="window.location.href = 'sebrae-portal-ecommerce.html'")
                span.fxButton__text
                  | Check-out this project
                .fxButton__border
                  | Check-out this project

        .project.fadeIn
          a.link(href='sebrae-covid-19-toolbox.html')
            figure
              img.content__image(src='assets/images/works/sebrae-toolbox/covid-19-toolbox-sebrae.jpg', alt='Sebrae Covid0-19 Toolbox')
          .info
            small #May_2020
            h2.content__title
              | A toolbox built in a month with 70 solutions to help entrepreneurs in COVID-19 times.
            div
              button.fxButton.two.fxButton--border.two(onclick="window.location.href = 'sebrae-covid-19-toolbox.html'")
                span.fxButton__text.two
                  | Check-out this project
                .fxButton__border.two
                  | Check-out this project

        .project.fadeIn
          a.link(href='sebrae-design-sprint-prototype.html')
            figure
              img.content__image(src='assets/images/works/sebrae-design-sprint/sebrae-design-sprint-prototyping.jpg', alt='Sebrae Design Sprint Prototyping')
          .info
            small #Jan_2020
            h2.content__title
              | Design thinking and high-fidelity prototyping in a Design Sprint
            div
              button.fxButton.three.fxButton--border.three(onclick="window.location.href = 'sebrae-design-sprint-prototype.html'")
                span.fxButton__text.three
                  | Check-out this project
                .fxButton__border.three
                  | Check-out this project

        .project.fadeIn
          a.link(href='calculo-juridico-dashboard.html')
            figure
              img.content__image(src='assets/images/works/calculo-juridico-dashboard/calculo-juridico-dashboard.jpg', alt='Cálculo Jurídico SaaS Dashboard')
          .info
            small #Sept_2018
            h2.content__title
              | Redesign of Cálculo Jurídico Dashboard, a SaaS for Pension and Social Security Calculation.
            div
              button.fxButton.four.fxButton--border.four(onclick="window.location.href = 'calculo-juridico-dashboard.html'")
                span.fxButton__text.four
                  | Check-out this project
                .fxButton__border.four
                  | Check-out this project

        .project.fadeIn
          a.link(href='beauty-date-dashboard.html')
            figure
              img.content__image(src='assets/images/works/beauty-date-dashboard/dashboard-beauty-date.jpg', alt='Beauty Date SaaS dashboard')
          .info
            small #Apr_2018
            h2.content__title
              | Redesign of Beauty Date dashboard, a salon management SaaS that provides online scheduling for customers.
            div
              button.fxButton.five.fxButton--border.five(onclick="window.location.href = 'beauty-date-dashboard.html'")
                span.fxButton__text.five
                  | Check-out this project
                .fxButton__border.five
                  | Check-out this project

        .project.fadeIn
          a.link(href='beauty-date-marketplace.html')
            figure
              img.content__image(src='assets/images/works/beauty-date-marketplace/marketplace-beautydate.jpg', alt='Beauty Date Website')
          .info
            small #Feb_2016
            h2.content__title
              | Beauty Date Marketplace, an online booking service that connects customers to salons.
            div
              button.fxButton.six.fxButton--border.six(onclick="window.location.href = 'beauty-date-marketplace.html'")
                span.fxButton__text.six
                  | Check-out this project
                .fxButton__border.six
                  | Check-out this project

    section.testimonial.fadeIn
      .content.fadeIn.parallax(data-speed='2', data-parallax='')
        p "Douglas is a person you can count on inside and outside the company. He is Interested, original, talented, and strategically visionary that combines design, user experience, and business value creation activities. During the time we worked together, I tracked his evolution from designer to responsible product owner and focused on solving customer issues. His ability ranges the whole process of prototyping and product development."
        .name
          span Jorge Buczek —&nbsp;
          strong Director of Valoo
      .content.fadeIn.parallax(data-speed='6', data-parallax='')
        p "Douglas is a very experienced product designer with a wide variety of skills. As a software developer I have recommended him to a few clients that were amazed with the results of his work. He is a good listener and works in a very practical way to find a good solution for each requirement. On the technical side, he is up to date with the latest tools of the trade, like Sketch and Figma."
        .name
          span Giovanni Bonetti —&nbsp;
          strong CTO of Cálculo Jurídico
      figure.dots.parallax(data-speed='4', data-parallax='')
        img(src='assets/images/dots.svg', alt="dots")

    include footer

  include scripts-index