include header

//- Master Wrap : starts
section#mastwrap.mastwrap.slant-bottom.slant-bottom-color
  section#intro.intro.single-project.white-bg.pad-bottom
    .container
      .row
        article.text-left.col-md-12
          .welcome
            h1.font3.black freezermax
            h2.font2.dark
              span.font2.weight-light.dark Branding
          img.img-responsive.imgPadding(src='assets/images/works/freezermax/logo-freezermax-1.jpg', alt='Freezermax logo')
          img.img-responsive.imgPadding(src='assets/images/works/freezermax/logo-freezermax-2.jpg', alt='Freezermax logo')
          img.img-responsive.imgPadding(src='assets/images/works/freezermax/logo-freezermax-4.jpg', alt='Freezermax logo')
          img.img-responsive.imgPadding(src='assets/images/works/freezermax/business-card-freezermax.jpg', alt='Freezermax logo')
          img.img-responsive.imgPadding(src='assets/images/works/freezermax/logo-freezermax-3.jpg', alt='Freezermax logo')
  section#clients.page.page-section.clients.color-bg
    .container
      .row
        .navarrow
          article.col-xs-2.text-center
            .aux-icon-btn-wrap
              a.aux-icon-btn.black.font2(href='web-elite')
                span.glyphicon.glyphicon-arrow-left.black
                | Prev
          article.col-xs-2.text-center
            .aux-icon-btn-wrap
              a.aux-icon-btn.black.font2(href='index')
                span.glyphicon.glyphicon-th.black
                | All
          article.col-xs-2.text-center
            .aux-icon-btn-wrap
              a.aux-icon-btn.black.font2(href='motion-futurecom')
                span.glyphicon.glyphicon-arrow-right.black
                | Next
//- Master Wrap : ends

script.
  $(document).ready(function () {
  $('.bxslider').bxSlider({
  preloadImages: 'visible',
  touchEnabled: true,
  responsive: true,
  pager: false,
  controls: true
  });
  });

include footer