.sidebar.index
  a.home(href='hello' target='_blank') about me
  .line
  button#trigger-overlay.menu__handle
    span Menu
    span
    span

a.scroll-to.fadeIn.scroll-index(href='#projects')
  span.scroll-arrow
  span.scroll-line
  |  Scroll

.menu-overlay.menu-overlay-hugeinc
  .sidebar.index
    a.home(href='hello' target='_blank') about me 
    .line
    button#trigger-close-overlay(type='button') ✕
  nav
    ul
      li
        a
          strong.animated Latest Projects
      li
        a(href='whirlpool-iot.html')
          span.animated .01
          strong.animated
            | IoT
            br
            small Whirlpool
      li
        a(href='sebrae-portal-ecommerce.html')
          span.animated .02
          strong.animated
            | Portal/E-commerce
            br
            small Sebrae
      li
        a(href='sebrae-covid-19-toolbox.html')
          span.animated .03
          strong.animated
            | Covid-19 Toolbox
            br
            small Sebrae
      li
        a(href='sebrae-design-sprint-prototype.html')
          span.animated .04
          strong.animated
            | Design Sprint
            br
            small Sebrae

  nav.backup
      ul
        li
          a
            strong Latest Projects
        li
          a(href='whirlpool-iot.html')
            span .01
            strong
              | IoT
              br
              small Whirlpool
        li
          a(href='sebrae-portal-ecommerce.html')
            span .02
            strong
              | Portal/E-commerce
              br
              small Sebrae
        li
          a(href='sebrae-covid-19-toolbox.html')
            span .03
            strong
              | Covid-19 Toolbox
              br
              small Sebrae
        li
          a(href='sebrae-design-sprint-prototype.html')
            span .04
            strong
              | Design Sprint
              br
              small Sebrae

  .animated.call
    p
      span 🤯
      a(href='hello' target='_blank') Check-out my presentation&nbsp;
      | and find out about my accomplishments and what skills I developed on this journey, or feel free to get in touch at&nbsp;
      a(href='mailto:dougnot@gmail.com') dougnot@gmail.com

    ul.contents
      li
        a(href='https://www.udemy.com/course/prototipagem-rapida-de-interface-figma/?referralCode=375991E976D05F1C0ECB')
          span Course
          | Rapid prototyping
      li
        a(href='https://open.spotify.com/episode/43zr1IpnBqFbT8CNcnnA3m?si=g-aMOL6xQnGz0D1hgkQIig')
          span Podcast
          | Design System
          
    ul.links
      li
        a(href='hello') About me
      li
        a(href='hello/Douglas-Nonato-Resume.pdf' target='_blank') Resume
      li
        a(href='https://br.linkedin.com/in/douglas-nonato' target='_blank') Linkedin
