section.logo
  .flexy
    a(href='../') Douglas Nonato
    
.sidebar
  a.home(href='../') home
  .line
  button#trigger-overlay.menu__handle
    span Menu
    span
    span

a.scroll-to.fadeIn.down.scroll-project(href='#meta')
  span.scroll-arrow
  span.scroll-line
  |  Scroll

.menu-overlay.menu-overlay-hugeinc
  .sidebar
    a.home(href='../') home
    .line
    button#trigger-close-overlay(type='button') ✕
  nav
    ul
      li
        a(href='sebrae-portal-ecommerce.html')
          span.animated .01
          strong.animated
            | Portal/E-commerce
            br
            small Sebrae
      li
        a(href='sebrae-covid-19-toolbox.html')
          span.animated .02
          strong.animated
            | Covid-19 Toolbox
            br
            small Sebrae
      li
        a(href='sebrae-design-sprint-prototype.html')
          span.animated .03
          strong.animated
            | Design Sprint
            br
            small Sebrae
      li
        a(href='calculo-juridico-dashboard.html')
          span.animated .04
          strong.animated
            | SaaS dashboard
            br
            small Cálculo Jurídico
      li
        a(href='beauty-date-dashboard.html')
          span.animated .05
          strong.animated
            | SaaS dashboard
            br
            small Beauty Date
      li
        a(href='beauty-date-marketplace.html')
          span.animated .06
          strong.animated
            | Marketplace
            br
            small Beauty Date

  .animated.call
    p
      span 🤯
      a(href='hello' target='_blank') Check-out my presentation&nbsp;
      | and find out about my accomplishments and what skills I developed on this journey, or get in touch&nbsp;
      a(href='mailto:dougnot@gmail.com') dougnot@gmail.com

    ul.links
      li
        a(href='hello') About me
      li
        a(href='hello/Douglas-Nonato-Resume.pdf' target='_blank') Resume
      li
        a(href='https://br.linkedin.com/in/douglas-nonato' target='_blank') Linkedin