.sidebar.index
  a.home(href='hello' target='_blank') my presentation
  .line
  button#trigger-overlay.menu__handle
    span Menu
    span
    span

.menu-overlay.menu-overlay-hugeinc
  .sidebar.index
    a.home(href='hello' target='_blank') my presentation
    .line
    button#trigger-close-overlay(type='button') ✕
  nav
    ul
      li
        a(href='beauty-date-dashboard.html')
          span.animated .01
          strong.animated
            | Beauty Date
            br
            small SaaS dashboard
      li
        a(href='beauty-date-site.html')
          span.animated .02
          strong.animated
            | Beauty Date
            br
            small Marketplace
      li
        a(href='guarde-mais-motion.html')
          span.animated .03
          strong.animated
            | Guarde Mais
            br
            small Motion
      li
        a(href='qlance-site.html')
          span.animated .04
          strong.animated
            | QLance
            br
            small Marketplace

  nav.backup
    ul
      li
        a(href='beauty-date-dashboard.html')
          span .01
          strong
            | Beauty Date
            br
            small SaaS dashboard
      li
        a(href='beauty-date-site.html')
          span .02
          strong
            | Beauty Date
            br
            small Marketplace
      li
        a(href='guarde-mais-motion.html')
          span .03
          strong
            | Guarde Mais
            br
            small Motion
      li
        a(href='qlance-site.html')
          span .04
          strong
            | QLance
            br
            small Marketplace

  .animated.call
    p
      | My name is Douglas Nonato. I'm a Service Designer. I've worked in several projects by taking part of every single step of the workflow production, providing me great experience with a 360º knowledge about the Digital World.&nbsp;
      a(href='hello' target='_blank') Check-out my presentation

