.sidebar
  a.home(href='../') home
  .line
  button#trigger-overlay.menu__handle
    span Menu
    span
    span

.menu-overlay.menu-overlay-hugeinc
  .sidebar
    a.home(href='../') home
    .line
    button#trigger-close-overlay(type='button') ✕
  nav
    ul
      li
        a(href='beauty-date-dashboard.html')
          span.animated .01
          strong.animated
            | Beauty Date
            br
            small SaaS dashboard
      li
        a(href='beauty-date-site.html')
          span.animated .02
          strong.animated
            | Beauty Date
            br
            small UX Design
      li
        a(href='guarde-mais-motion.html')
          span.animated .03
          strong.animated
            | Guarde Mais
            br
            small Animation
      li
        a(href='qlance-site.html')
          span.animated .04
          strong.animated
            | QLance
            br
            small UX Design

  nav.backup
    ul
      li
        a(href='beauty-date-dashboard.html')
          span .01
          strong
            | Beauty Date
            br
            small SaaS dashboard
      li
        a(href='beauty-date-site.html')
          span .02
          strong
            | Beauty Date
            br
            small UX Design
      li
        a(href='guarde-mais-motion.html')
          span .03
          strong
            | Guarde Mais
            br
            small Animation
      li
        a(href='qlance-site.html')
          span .04
          strong
            | QLance
            br
            small UX Design

  .animated.call
    p
      | I’m a Graphic Designer with a 360 knowledge of what concerns Web, Graphic and Video Productions. I've led and improved new web products, developed websites from the scratch to its publication and 2D video animations.&nbsp;
      a(href='hello' target='_blank') Check-out my presentation

