include header

extends ./header.jade

block meta
  title Douglas Nonato | QLance Web Site
  meta(name='description', content='Online scheduling for sports establishments or sports professionals')
  meta(name='keywords', content='Service, Product, experience, UX, SaaS, scheduling, Sport')

  //- Share image
  meta(property='og:title', content='Douglas Nonato | QLance Web Site')
  meta(property='og:description', content='Online scheduling for sports establishments or sports professionals.')
  meta(property='og:url', content='http://www.douglasnonato.com/qlance-web.html')
  meta(property='og:site_name', content='Douglas Nonato')
  meta(property='og:image', content='http://www.douglasnonato.com/assets/images/works/qlance-web/og-image.jpg')
  meta(property='og:type', content='website')

block content
  //- Main
  main
    include menu
    .cd-main-content
      #single-project
        //- Content
        section#header.web
          .bg-text.fadeIn
            | Qla
            br
            | nce
          .flexy.flexy--column.delay-loading
            h1#rev-1.content__title
              | Qlance
            figure.fadeIn
              img(src='assets/images/works/qlance-web/web-qlance-header.png', alt='Qlance')
            #rev-2.block-right
              h2 Online scheduling for sports establishments or sports professionals

        section.meta.fadeIn
          .flexy
            .col.date
              small
                | DATE
              br 
              strong
                | Aug / 2013
            .col.position
              small
                | POSITION
              br
              strong
                | UX Designer
            .col.kind
              small
                | KIND
              br
              strong
                | Marketplace

        section.description-section
          .flexy
            h3#rev-3 Overview
            .description#rev-4 Launched in 2013, the system in addition to the online scheduling it also had a platform for tournament management and was used in major university events. My duty was to develop the flow and the whole interface of the site, I also helped with front-end programming. 
        section.full-bg.mb-work
          .flexy
            figure.fadeIn
              img(src='assets/images/works/qlance-web/web-qlance-advantages-1.png', alt='Qlance Advantages')
            figure.fadeIn
              img(src='assets/images/works/qlance-web/web-qlance-advantages-2.png', alt='Qlance Advantages')
            figure.fadeIn
              img(src='assets/images/works/qlance-web/web-qlance-advantages-3.png', alt='Qlance Advantages')
        section.work-title-left
          .flexy
            h4.fadeIn Profile Page
            figure.fadeIn
              img(src='assets/images/works/qlance-web/web-qlance-profile.jpg', alt='Qlance Profile')
            h4.fadeIn Appointment Checkout
            figure.fadeIn
              img(src='assets/images/works/qlance-web/web-qlance-checkout.jpg', alt='Qlance Checkout')
            h4.fadeIn Business Storefront
            figure.fadeIn
              img(src='assets/images/works/qlance-web/web-qlance-storefront.jpg', alt='Qlance Storefront')

        section
          .flexy.flexy--row.projects--related.fadeIn
            h4.content__title--center Other Projects
            .projects
              a.item(href='beauty-date-site.html')
                img(src='assets/images/works/beauty-date-web/work-related.jpg', alt='Beauty Date')
                | Beauty Date Site
              a.item(href='guarde-mais-motion.html')
                img(src='assets/images/works/guarde-mais-motion/work-related.jpg', alt='Guarde Mais')
                | Guarde Mais

        include footer
        
  include scripts-project