script(src='assets/js/smoothAncor.js')
script(src='assets/js/clickEffect/clickEffect.js')
script(src='assets/js/animated-headline/animated-headline.js')

//- Scroll
script(src='assets/js/jquery.easeScroll.js')
script(type='text/javascript').
	$("html").easeScroll();
script(src='assets/js/parallax.js')

//- Effects
script(src='assets/js/anime.min.js')
script(src='assets/js/scrollMonitor.js')
script(src='assets/js/cursor.js')

//- Carosel
script(src='assets/js/carousel-home.js')

//- Revealer
script(src='assets/js/revealer/main.js')
script(src='assets/js/revealer/revealer-index.js')
script(src='assets/js/revealer/fadein-scroll.js')

//- Menu
script(src='assets/js/menu/classie.js')
script(src='assets/js/menu/overlay.js')

//- Button nearby
script(src='assets/js/btn-nearby/TweenMax.min.js')
script(src='assets/js/btn-nearby/nearby.js')
script(src='assets/js/btn-nearby/effect.js')
