//- Transition
.cd-cover-layer
.cd-loading-bar

//- script(src='assets/js/page-transition/page-transition.js')
//- script(src='assets/js/smoothAncor.js')
script(src='assets/js/clickEffect/clickEffect.js')
script(src='assets/js/animated-headline/animated-headline.js')

//- Effects
script(src='assets/js/anime.min.js')
script(src='assets/js/scrollMonitor.js')

//- Revealer
script(src='assets/js/revealer/main.js')
script(src='assets/js/revealer/revealer-index.js')

//- Background
script(src='assets/js/morph-bg/imagesloaded.pkgd.min.js')
script(src='assets/js/morph-bg/shapes.js')

//- Menu
script(src='assets/js/menu/classie.js')
script(src='assets/js/menu/overlay.js')
