//- Transition
.cd-cover-layer
.cd-loading-bar

//- script(src='assets/js/page-transition/page-transition.js')
//- script(src='assets/js/smoothAncor.js')
script(src='assets/js/clickEffect/clickEffect.js')

//- Effects
script(src='assets/js/anime.min.js')
script(src='assets/js/scrollMonitor.js')

//- Revealer
script(src='assets/js/revealer/main.js')
script(src='assets/js/revealer/revealer-project.js')
script(src='assets/js/revealer/fadein-scroll.js')

//- Menu
script(src='assets/js/menu/classie.js')
script(src='assets/js/menu/overlay.js')
