include header

extends ./header.jade

block style
  link(rel='stylesheet', type='text/css', href='assets/css/sebrae.css')

block meta
  title Douglas Nonato | Sebrae Portal and E-commerce
  meta(name='description', content='A content webportal combined with an e-commerce platform of courses, tools and services for entrepreneurs')
  meta(name='keywords', content='Usability, Design, E-commerce, UX, Portal, Sebrae, Research')

  //- Share image
  meta(property='og:title', content='Douglas Nonato | Sebrae Portal and E-commerce')
  meta(property='og:description', content='A content webportal combined with an e-commerce platform of courses, tools and services for entrepreneurs')
  meta(property='og:url', content='https://www.douglasnonato.com/sebrae-portal-ecommmerce.html')
  meta(property='og:site_name', content='Douglas Nonato')
  meta(property='og:image', content='https://douglasnonato.com/assets/images/works/sebrae-portal/og-image.jpg')
  meta(property='og:type', content='website')

block content
  //- Main
  main#sebrae
    #top
    include menu
    #single-project
      //- Content
      section#header.web
        .bg-text.fadeIn
          | Seb
          br
          | rae
        figure.viewDesktop.fadeIn
          img(src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae-cover.jpg', alt='Sebrae Portal and E-commerce')
        .flexy.flexy--column.delay-loading
          h1#rev-1.content__title
            | Sebrae
          figure.viewMobile.fadeIn
            img(src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae.png', alt='Sebrae Portal and E-commerce')
          #rev-2.block-right
            h2 A content webportal combined with an e-commerce platform of courses, tools and services for entrepreneurs.

      section#meta.fadeIn
        .flexy
          .col.date
            small
              | DATE —
            br 
            strong
              | Jun_2020
          .col.position
            small
              | ROLE —
            br
            strong
              | Project Manager
              br
              | Product Designer
          .col.kind 
            small
              | KIND —
            br
            strong
              | Portal and E-commerce

      section
        .flexy.intro
          h3#rev-3 Context
          .textBorder
            svg
              text(x='0' y='550') 01
          .description
            .col-half 
              figure.sebrae#rev-4.viewDesktop.parallax(data-speed='2', data-parallax='')
                img(src='hello/img/sebrae.jpg', alt="Sebrae Headquarters")
                figcaption
                  | [Sebrae headquarters]
            .col-half
              .fadeIn
                p Founded in 1972, Sebrae is present in every state throughout Brazil, and focuses on fostering entrepreneurship across the country. As experts in sustainable and competitive small business development, Sebrae is the mecca for reliable information, guidance and services for SMEs.
                p So many years of history has led to a continuously updated portfolio of over 200 products, including business formalization, training, workshops, courses, consulting services and events.
                  span With a wide coverage of over 1800 offices across the country, the company's solutions have been predominantly delivered in a physical format.
              figure.sebrae#rev-4.viewMobile
                img.fadeIn(src='hello/img/sebrae.jpg', alt="Sebrae Headquarters")
                figcaption
                  | [Sebrae headquarters]
              .fadeIn
                h4 Without a purpose
                  br
                  | there is no story
                p Although Sebrae has an impressive market reach due to its large number of offices, it has been working hard to implement its digital transformation strategy. As an important part of the digital engine, my team is responsible for developing new fully digital and phigital (physical + digital) services and products.
                p As we began to develop new solutions, we noticed it was important  to rethink the way the services were offered, therefore, we had to look into Sebrae’s WebPortal, The website receives, organically,  millions of users per year, however, it does not cause a good impression when it comes to performance. Mainly due to the very poor usability, since users face too much content and lack of navigation clarity, making it difficult for people to find what they were looking for.
            

      section.description-section.pdTop-30vh
        .flexy.strategy
          .col-half.center
            h3#rev-5 The process
            .textBorder
              svg
                text(x='0' y='550') 02
            .description
              #rev-6
                p I was responsible for managing the entire process of rethinking from scratch the&nbsp;
                  i Paraná Portal&nbsp;
                  | , a platform that consists of 3 different parts: Content, Store and Logged Area. Below, learn more about the project stages.  

          .row-figure-half
            figure.fadeIn
              img(src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae-call-center.jpg', alt="Sebrae Portal Call Center's interview")
              figcaption
                | [call center's interview]
            figure.fadeIn
              img(src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae-client-journey.jpg', alt='Sebrae Portal Client Journey')
              figcaption
                | [client journey]
          .row-figure
            figure.fadeIn
              img(src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae-research.jpg', alt='Sebrae Portal Research')
              figcaption
                | [research tabulation]

          .col-half.description.fadeIn.center
                h4 Strategy and Research
                p TThe project strategy was built on the definition of 4 business objectives. The goal was to transition the portal from a passive channel to becoming part of the company's business model. The next step was to identify and understand how people interact to the platform, not just the digital users but also customers who come to our offices, attendants and project managers.
                p To identify all stakeholder needs, 
                  span a set of qualitative surveys was conducted with more than 200 people from 3 different groups: customers, call center team and Sebrae’s employees.
                  |  Once recorded, this information was cross-referenced with the 4 business objectives, becoming a database for insights and improvements. To finish the process, the user journey was designed, taking into consideration 6 different personas.

      section.description-section.pdTop-30vh
        .flexy.ideation
          .col-half.description.fadeIn
            h4 Ideation
            p The first steps of the ideation stage comprised the CMS, layout sketches, and meetings with project managers, who would use this interface to communicate their projects to the business community.
            p Further, with a high fidelity semi-navigable prototype, we conducted a usability test using the RITE method, which consists of implementing improvement suggestions from one tester before another trial, instead of waiting until the end of the test to gather the findings.
            P As a final touch, instead of using stock photos, we decided to use real Sebrae clients to illustrate the homepage, inviting them to an exclusive photoshoot at their own establishments. The goal was to humanize the portal by bringing real customers as social proof, also becoming a recognition action for successful clients.

          .col-half
            .parallax.viewDesktop(data-speed='2', data-parallax='')
              figure.lg.fadeIn
                img(src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae-sketch.jpg', alt='Sebrae Portal Sketch')
                figcaption
                  | [first sketchs]
              .row
                figure.fadeIn
                  img(src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae-usability-test.jpg', alt='Sebrae Portal Usability test')
                  figcaption
                    | [usability test]
                figure.fadeIn
                  img(src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae-photo-shoot.jpg', alt='Sebrae Portal Photo Shoot')
                  figcaption
                    | [photoshoot]
            .viewMobile
              figure.lg.fadeIn
                img(src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae-sketch.jpg', alt='Sebrae Portal Sketch')
                figcaption
                  | [first sketchs]
              .row
                figure.fadeIn
                  img(src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae-usability-test.jpg', alt='Sebrae Portal Usability test')
                  figcaption
                    | [usability test]
                figure.fadeIn
                  img(src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae-photo-shoot.jpg', alt='Sebrae Portal Photo Shoot')
                  figcaption
                    | [photoshoot]

      section.description-section
        .flexy.strategy
          .col-half.description.fadeIn.center
            h4 Development
            P The development was handled by a third party company, under my management. In this role I was responsible for the briefings and homologation of the sprints.
            p The main difficulty in development was due to the fact that the content part of the site was built on Wordpress, to allow the team to create custom web pages while not requiring any coding or special development, and the part of the store and logged area was in Angular, however, 
              span both interfaces required exchange of information between them.

            h4.pdTop-60 Content
            p To keep content aligned with Sebrae´s social mission and relevant to the consumer, we have hired a specialized content and SEO agency to step up the publications and set up metadata to reach a better ranking on searching engines. 
              span We have managed to publish more than 700 contents, against over 180 from the previous website. 
            p Part of the customer support is carried out by the call center. In order to automate part of this process 
              span a chatbot was deployed to solve common issues, without the need of human assistance.

      section.full-bg.mb-work
        .flexy
          h3#rev-7 Outcome
          .textBorder
            svg
              text(x='0' y='550') 03
          figure.fadeIn
            img(src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae-home-1.png', alt='Sebrae Portal Home')

            //- Tooltip
            .tooltip.twenty.fadeIn(data-type='tooltip')
              .tooltip__trigger(role='tooltip')
                span.tooltip__trigger-text More
              .tooltip__base
                svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                  path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
                .tooltip__content The shopping cart is now visible across the website.
            .tooltip.one.fadeIn(data-type='tooltip')
              .tooltip__trigger(role='tooltip')
                span.tooltip__trigger-text More
              .tooltip__base
                svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                  path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
                .tooltip__content Main call to action that directs the user to the journey corresponding to his/her persona.
            .tooltip.three.fadeIn(data-type='tooltip')
              .tooltip__trigger(role='tooltip')
                span.tooltip__trigger-text More
              .tooltip__base
                svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                  path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
                .tooltip__content Accessibility feature for people with visual impairment.
            .tooltip.two.fadeIn(data-type='tooltip')
              .tooltip__trigger(role='tooltip')
                span.tooltip__trigger-text More
              .tooltip__base
                svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                  path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
                .tooltip__content Real customer photos to illustrate the website.
            .tooltip.four.fadeIn(data-type='tooltip')
              .tooltip__trigger(role='tooltip')
                span.tooltip__trigger-text More
              .tooltip__base
                svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                  path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
                .tooltip__content A session with upcoming courses, enabling home conversions and bringing more dynamism to the webpage.
            .tooltip.five.fadeIn(data-type='tooltip')
              .tooltip__trigger(role='tooltip')
                span.tooltip__trigger-text More
              .tooltip__base
                svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                  path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
                .tooltip__content Lead capture area, with the option to select between 8 content journeys.
            .tooltip.six.fadeIn(data-type='tooltip')
              .tooltip__trigger(role='tooltip')
                span.tooltip__trigger-text More
              .tooltip__base
                svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                  path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
                .tooltip__content Most popular services filtered by interest.

          figure.fadeIn
            img(src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae-home-2.png', alt='Sebrae Portal home')

          figure
            img(src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae-home-3.png', alt='Sebrae Portal home')

      section.mobile
        figure.fadeIn
          img(src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae-mobile.png', alt='Sebrae Portal and E-commerce - mobile')
          //- Tooltip
          .tooltip.mobile.fadeIn(data-type='tooltip')
            .tooltip__trigger(role='tooltip')
              span.tooltip__trigger-text More
            .tooltip__base
              svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
              .tooltip__content Fully mobile friendly.

      section.video.fadeIn
        .flexy.pdBot-100
          h4 Microinteractions
          .description
            p Showing attention to detail, we developed some feedback animations throughout the website, already in the first seconds, offering a modern experience to the user.
          video(loop='', autoplay='', muted, alt='Sebrae Portal Microinteraction', title='Sebrae Portal Microinteraction')
            source(type='video/webm', src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae_microinteraction.webm')
            source(type='video/mp4', src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae_microinteraction.mp4')
          script.
            document.getElementById('vid').play();

      section.half.bg-grey
        .flexy.fadeIn 
          h4 Content
          p Some of the new content pages features
          .col
            .item.fadeIn 
              h5 Results
              figure
                img(src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae-results.jpg', alt='Sebrae Portal Results')
                //- Tooltip
                .tooltip.eight.fadeIn(data-type='tooltip')
                  .tooltip__trigger(role='tooltip')
                    span.tooltip__trigger-text More
                  .tooltip__base
                    svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                      path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
                    .tooltip__content A search engine that not only looks for portal content such as Articles, Ebooks and Videos, but also the Store Courses and Posts from the digital community.
            .item.fadeIn 
              h5 Video Series
              figure
                img(src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae-video-series.jpg', alt='Sebrae Portal Video Series')
                //- Tooltip
                .tooltip.nine.fadeIn(data-type='tooltip')
                  .tooltip__trigger(role='tooltip')
                    span.tooltip__trigger-text More
                  .tooltip__base
                    svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                      path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
                    .tooltip__content A dedicated section for webinars.
          .col
            .item.fadeIn 
              h5 404 page
              figure
                img(src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae-404-page.jpg', alt='Sebrae Portal 404 Page')
                //- Tooltip
                .tooltip.ten.fadeIn(data-type='tooltip')
                  .tooltip__trigger(role='tooltip')
                    span.tooltip__trigger-text More
                  .tooltip__base
                    svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                      path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
                    .tooltip__content Call to the 6 user journeys.
            .item.fadeIn 
              h5 Contact
              figure
                img(src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae-contact.jpg', alt='Sebrae Portal Contact')
                //- Tooltip
                .tooltip.thirteen.fadeIn(data-type='tooltip')
                  .tooltip__trigger(role='tooltip')
                    span.tooltip__trigger-text More
                  .tooltip__base
                    svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                      path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
                    .tooltip__content Map with all points of service of the state.
            .item.fadeIn 
              h5 FAQ with Chatbot
              figure
                img(src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae-chatbot.jpg', alt='Sebrae Portal Chatbot')

      section.half
        .flexy.fadeIn 
          h4 E-commerce
          p Some of the new store pages features
          .col
            .item.fadeIn 
              h5 Store home
              figure
                img(src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae-e-commerce.jpg', alt='Sebrae Portal Store home')
                //- Tooltip
                .tooltip.fourteen.fadeIn(data-type='tooltip')
                  .tooltip__trigger(role='tooltip')
                    span.tooltip__trigger-text More
                  .tooltip__base
                    svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                      path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
                    .tooltip__content Most popular list.
                .tooltip.fifteen.fadeIn(data-type='tooltip')
                  .tooltip__trigger(role='tooltip')
                    span.tooltip__trigger-text More
                  .tooltip__base
                    svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                      path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
                    .tooltip__content Several new filters.
            .item.fadeIn 
              h5 Product
              figure
                img(src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae-product.jpg', alt='Sebrae Portal Product Page')
                //- Tooltip
                .tooltip.sixteen.fadeIn(data-type='tooltip')
                  .tooltip__trigger(role='tooltip')
                    span.tooltip__trigger-text More
                  .tooltip__base
                    svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                      path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
                    .tooltip__content More complete program content structure than the previous model.
                .tooltip.seventeen.fadeIn(data-type='tooltip')
                  .tooltip__trigger(role='tooltip')
                    span.tooltip__trigger-text More
                  .tooltip__base
                    svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                      path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
                    .tooltip__content Complete rating display.
          .col
            .item.fadeIn 
              h5 Calendar view
              figure
                img(src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae-calendar-view.jpg', alt='Sebrae Portal Calendar view')
                //- Tooltip
                .tooltip.eighteen.fadeIn(data-type='tooltip')
                  .tooltip__trigger(role='tooltip')
                    span.tooltip__trigger-text More
                  .tooltip__base
                    svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                      path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
                    .tooltip__content Event calendar view.
                      br
                      | A big request.
            .item.fadeIn 
              h5 Checkout
              figure
                img(src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae-checkout.jpg', alt='Sebrae Portal Checkout')
                //- Tooltip
                .tooltip.nineteen.fadeIn(data-type='tooltip')
                  .tooltip__trigger(role='tooltip')
                    span.tooltip__trigger-text More
                  .tooltip__base
                    svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                      path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
                    .tooltip__content Purchase with no need to be logged in or have an account.

      section.half.bg-gradGrey
        .flexy.fadeIn 
          h4 Account
          p Some of the new account pages features
          .col
            .item.fadeIn 
              h5 Account
              figure
                img(src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae-account-page.jpg', alt='Sebrae Portal Account')
                //- Tooltip
                .tooltip.eleven.fadeIn(data-type='tooltip')
                  .tooltip__trigger(role='tooltip')
                    span.tooltip__trigger-text More
                  .tooltip__base
                    svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                      path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
                    .tooltip__content Recommended content and courses based on selected topics of interest.
          .col
            .item.fadeIn 
              h5 Connected tools
              figure
                img(src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae-connected-tools.jpg', alt='Sebrae Portal Connected tools')
                //- Tooltip
                .tooltip.eleven.fadeIn(data-type='tooltip')
                  .tooltip__trigger(role='tooltip')
                    span.tooltip__trigger-text More
                  .tooltip__base
                    svg.tooltip__shape(width='100%', height='100%', viewBox='0 0 400 300')
                      path(d='M 79.5,66 C 79.5,66 128,106 202,105 276,104 321,66 321,66 321,66 287,84 288,155 289,226 318,232 318,232 318,232 258,198 200,198 142,198 80.5,230 80.5,230 80.5,230 112,222 111,152 110,82 79.5,66 79.5,66 Z')
                    .tooltip__content With a single account users can log in to several of our digital tools, therefore we have created a dashboard where users can check which tools they already have used and encourage them to use the others available.

      section.press
        figure.fadeIn
          img(src='assets/images/works/sebrae-portal/portal-ecommerce-sebrae-press-release.jpg', alt='Sebrae Press release')
        .content
          .description
            .highlight
              h6 Some numbers
              .col
                .label At the end of the year, we had a
                .data 91%
                .label  increase in unique users.
                .data 51%
                .label more page views
                .note *comparing with the same period of the previous year
              .col.line
                .label The new website were featured in more than
                .news &nbsp;10
                .label news media.
              .col.line 
                .label Due to COVID-19, paid classroom courses were canceled, making it impossible to analyze the conversion rate of monetized products.

      section
        .flexy.flexy--row.projects--related.fadeIn
          h4.content__title--center Other Projects
          .projects
            a.item(href='calculo-juridico-dashboard.html')
              img(src='assets/images/works/calculo-juridico-dashboard/work-related.jpg', alt='Cálculo Jurídico SaaS Dashboard')
              | Cálculo Jurídico - SaaS Dashboard
            a.item(href='sebrae-design-sprint-prototype.html')
              img(src='assets/images/works/sebrae-design-sprint/Work-related.jpg', alt='Sebrae Design Sprint')
              | Sebrae - Design sprint

      include footer

  include scripts-project