html{
    background: #fafafa;
    cursor: none;
}

/* Cursor */

body, a, button{
  cursor: none !important;
}

.cursor, .cursor-outer {
  mix-blend-mode: exclusion;
  width: 10px;
  height: 10px;
}
.cursor-outer {
  position: fixed;
  top: -10px;
  left: -10px;
  z-index: 5000;
  pointer-events: none!important;
}
.cursor {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition:  transform .2s cubic-bezier(.175,.885,.32,1.275);
  -moz-transition:  transform .2s cubic-bezier(.175,.885,.32,1.275);
  -ms-transition:  transform .2s cubic-bezier(.175,.885,.32,1.275);
  -o-transition:  transform .2s cubic-bezier(.175,.885,.32,1.275);
  transition:  transform .2s cubic-bezier(.175,.885,.32,1.275);
  transform-origin: center center;
}
.dark_page .cursor,
.coloring .cursor {
  background-color: #5cffbb;
}
.zooming.cursor {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  background-color: #0020ff;
    mix-blend-mode: exclusion;
}

.text-cols.intro{
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}

span.start{
    color: #ccc;
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
}

section.intro{
  background: #191d1f;
}

.web{
  background: #f1f3f5;
}

.web figure figcaption{
  color: #272822;
  background: transparent;
}

.provisuale figure figcaption{
  color: rgba(255,255,255,0.5);
}

.provisuale .description li{
  font-weight: 500;
}

.easterEgg small{
  color: rgba(255,255,255,0.25);
}

.web{
  padding-top: 30px
}

.web h2{
  text-align: center;
  margin: 0 auto 20px;
  background: #4f49ff;
  color: #fff;
  padding: 20px;
  display: table;
}

.web .card-50{
  height: 50vh;
}

@media (min-width: 768px){
  .web .flex-content{
    padding: 10px 4.8rem;
  }
}

.web .flex-content{
  background: #272822;
}

.web pre{
    border: none;
    box-shadow: none;
    background: #202025;
    color: #fff;
}

.web pre:hover{
    border: none;
    box-shadow: none;
    background: none;
}

.web pre .pink{
  color: #f9266c;
}

.web pre .yellow{
  color: #e2c96b;
}


.web pre .green{
  color: #8bde2e;
}

.web pre .grey{
  color: #757158;
}

.web code,.web [class*="bg-"] pre {
  background: #272822;
}

.bda .background{
  background-position: right;
}

.title footer small, .experience footer small{
  color: #75660f;
  font-weight: 500;
}

.skills li{
  background: rgba(0, 20, 80, 0.05);
  margin: 10px;
  font-weight: 500;
}

@media (max-width: 1024px) and (min-width: 600px){
  .skills li{
    width: 40%;
  }
}

.cover{
  background: #fafafa;
}

.cover h2{
  font-weight: 900;
  line-height: 2.8rem;
  margin-bottom: 20px;
}

.motion hr, .graphic hr{
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0) 75%);
  margin: 0.2rem auto;
}

.motion footer small, .promova footer small{
  color: rgba(255,255,255,0.5);
  font-weight: 300;
  font-size: 0.8em;
  text-shadow: none;
}

.graphic footer small{
  color: #000;
  font-weight: 500;
  font-size: 0.8em;
  text-shadow: none;
}

@media (min-width: 760px){
  .responsabilities .reasons li{
    padding-left: 21.8rem;
  }
}


.responsabilities .bg-white{
  padding: 6vw;
}

.responsabilities .bg-white p{
  font-size: 25px;
  line-height: 34px;
} 

.final h3{
  margin-bottom: 40px;
}

.banner{
  background-position-y: -50px;
  background-position-x: 40px;
}
@media (max-height: 800px) and (min-width: 1024px){
  .banner{
    background-position-y: -60px;
    background-position-x: 100px;
    background-size: 33%;
  }
}

.final svg{
  margin: -5px 7px 0 0;
}

.final svg.fa-linkedin{
  margin: -6px 7px 0 0;
}

.respPromova .card-50 .flex-content{
  padding: 0 2em;
  justify-content: end;
}

.respPromova hr{
  margin: 1em 0;
}

.respPromova figure{
  width: 90%;
  margin: 0 auto;
} 

.respPromova figure figcaption{
  background: rgba(0,0,0,0.5);
}

.respPromova .flexblock li h2{
  font-size: 1.8em;
  margin-bottom: 15px;
}

.last-years{
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  max-width: 650px;
}

@media (max-width: 760px){
  .last-years{
    font-size: 24spx;
    line-height: 36px;
    margin-top: 40px;
  }
  .years h2{
    font-weight: 500;
  }
}

.sebrae .text-label{
  width: unset;
  font-size: 24px;
  margin: 30px 0 20px;
}

@media (min-width: 768px) {
  .sebrae .card-50 figure{
    width: 30%;
  }
  .sebrae .card-50 .flex-content {
      width: 70%;
  }
}

@media (min-width: 768px){
  .sebraeresp.fullscreen .flex-content{
    padding: 4.4rem;
  }
}

.sebraeresp li{
  width: 100% !important;
  padding: 20px;
  margin: 10px !important;
}

.sebraeresp li h2{
  line-height: 24px;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: unset;
}

span.me{
  background-size: 90vh;
}

.strategy .background{
  background-size: contain;
}

.ux, .strategy{
  background-color: #fff;
}

.ux:after, .strategy:after{
  z-index: 1;
  background-color: #0000004d;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
}

.ux h1, .strategy h1{
  background: #4f49ff;
  color: #fff;
  padding: 20px;
}

.ux h3, .strategy h3{
  background: #191d1f;
  color: #fff;
  padding: 20px;
  margin: 0;
  font-size: 20px;
  line-height: 36px;
}

.ux .background-video{
  height: unset;
  margin: auto;
}