include components/header

main
	include components/top-menu
	include components/menu-agenda
	#agenda.agenda

		//- General agenda
		.search
			
		#agenda-controls

		#open-filter.btn
		#agenda-filter
			img(src='img/agenda/agenda-filter.png')
			#close-filter.btn

		#open-settings.btn
		#agenda-settings
			img(src='img/agenda/agenda-settings.png')
			#close-settings.btn

		.calendar.btn
			img(src='img/calendar.png')

		//- Extras

		#time-border
		#container
			#agenda-professionals
				.border-left
			#agenda-time
			.content
				.blocked-card.one.btn
					.hover
				.blocked-card.two.btn
					.hover
				.time-off.one
					.hover.btn
				.time-off.two
					.hover.one.btn
					.hover.two.btn
					.hover.three.btn
				.appointment-card.one.btn
				.appointment-card.two.btn
				.appointment-card.three.btn
				.appointment-card.four.btn
				.currently-time

				//- Group empty slots hover effetc
				.group-empty-slots
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot
					.empty-slot

		script.
			new PerfectScrollbar('#container');

	//- Modals
	
	#agenda-modal-new-appointment.modal
		.close-modal.btn
		.create-appointments.btn
		.close-modal.cancel.btn
		.block-time.btn

	#agenda-modal-details.modal
		.close-modal.btn
		.delete-appointment.btn
		.edit-appointment.btn
		.create-sales-order.btn

	#agenda-modal-sales-order.modal
		.close-modal.btn
		.close-modal.agenda.btn

	#agenda-modal-block.modal
		.close-modal.btn
		.new-block-time.btn
		.close-modal.cancel.btn
		.new-appointment.btn

	#agenda-modal-edit-block.modal
		.close-modal.btn
		.close-modal.refresh.btn
		.close-modal.delete.btn

	#agenda-modal-delete-appointment.modal
		.close-modal.btn
		.close-modal.positive.btn
		.close-modal.negative.btn
