include components/header

main
	include components/top-menu
	include components/menu-professionals
	#professionals
		#empty-space
			.register.btn

		//- General clients
		.search
		.info.btn
		.new-professional.btn

		ul.professionals-list
			li
			li
			li
			li
			li
			li
			li
			li

		ul.config-skills
			li
			li
			li
			li
			li
			li
			li
			li

		ul.profile-list
			li
				.tooltip
			li
				.tooltip
			li
				.tooltip
			li
				.tooltip
			li
				.tooltip
			li
				.tooltip
			li
				.tooltip
			li
				.tooltip

		ul.schedule-list
			li
				.tooltip
			li
				.tooltip
			li
				.tooltip
			li
				.tooltip
			li
				.tooltip
			li
				.tooltip
			li
				.tooltip
			li
				.tooltip
					
	//- Modals

	#professionals-modal-new-professional.modal
		.close-modal.btn
		.close-modal.save.btn
		.close-modal.cancel.btn

	#professionals-modal-profile.modal
		.close-modal.btn
		.close-modal.save.btn
		.close-modal.cancel.btn
		.delete-professional.btn

	#professionals-modal-delete-professional.modal
		.close-modal.btn
		.close-modal.positive.btn
		.close-modal.negative.btn

	#professionals-modal-schedule.modal
		.close-modal.btn

	#professionals-modal-info.modal
		.close-modal.btn
		.close-modal.got-it.btn