include header
//- Main
main
  include menu
  .cd-main-content
    #single-project
      //- Content
      section#header
        .flexy.flexy--column.delay-loading
          h1#rev-1.content__title
            | Beauty Date
          .bg-text.fadeIn
            | Beauty
            br
            | Date
          figure.fadeIn
            img(src='assets/images/works/beauty-date-web/web-beautydate-header.png', alt='Beauty Date')
          #rev-2.block-right
            h2 Proin quis quam nec nibh fermentum tristique sit amet vitae nisi. Nullam euismod.
      section
        .flexy.delay-loading
          h3#rev-3 Amet tempus
          .description#rev-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim, ipsum sed maximus bibendum, orci tortor finibus orci, eu consectetur erat lacus quis est. Quisque efficitur scelerisque ex non porta. Sed vitae mauris in dui dictum euismod eu vitae libero. Nullam sollicitudin non orci sollicitudin consectetur. In nec leo vel magna sollicitudin euismod at nec enim. Nunc varius dictum justo sit amet tempus.
      section.full-bg.mb-work
        .flexy
          figure.fadeIn
            img(src='assets/images/works/beauty-date-web/web-beautydate-home-1.png', alt='Beauty Date')
          figure.fadeIn
            img(src='assets/images/works/beauty-date-web/web-beautydate-home-2.jpg', alt='Beauty Date')
          figure.fadeIn
            img(src='assets/images/works/beauty-date-web/web-beautydate-home-3.jpg', alt='Beauty Date')

      section.work-title-left
        .flexy
          h4.fadeIn Dictum euismod
          figure.fadeIn
            img(src='assets/images/works/beauty-date-web/web-beautydate-agenda.jpg', alt='Beauty Date Agenda')
          h4.fadeIn Dictum euismod
          figure.fadeIn
            img(src='assets/images/works/beauty-date-web/web-beautydate-results.jpg', alt='Beauty Date Results')

      section
        .flexy.flexy--row.projects--related.browser.fadeIn
          h4.content__title--center Title teste
          .projects
            a.item
              img(src='assets/images/work-related.jpg', alt='Some image')
              | sdfd
            a.item
              img(src='assets/images/work-related.jpg', alt='Some image')
              | sdfd


          //- a.link(href='index.html', data-type='page-transition') voltar

      include footer

//- Transition
.cd-cover-layer
.cd-loading-bar

include scripts-project