footer
  .content-warp
    p
      | Proin quis quam nec nibh fermentum tristique sit amet vitae nisi. Nullam euismod.
    ul
      li
        a(href='') Proifn
      li
        a(href='') GuitHub
      li
        a(href='') fermentum
    ul
      li
        a(href='') amdfet
      li
        a(href='') vitdfgae
      li
        a(href='') tristique