include header
//- Main
main
  include menu
  .cd-main-content
    #single-project
      //- Content
      section#header.video
        .flexy.flexy--column.delay-loading
          h1#rev-1.content__title
            | Lorem ipsum
          #rev-2.block-right
            h2 Proin quis quam nec nibh fermentum tristique sit amet vitae nisi. Nullam euismod.
        video(loop='', autoplay='', alt='Guarde Mais - Self Storage', title='Guarde Mais - Self Storage video')
            source(type='video/webm', src='assets/images/works/guarde-mais-motion/guarde-mais-motion-bg.webm')
            source(type='video/mp4', src='assets/images/works/guarde-mais-motion/guarde-mais-motion-bg.mp4')
      section
        .flexy.delay-loading
          h3#rev-3 Amet tempus
          .description#rev-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim, ipsum sed maximus bibendum, orci tortor finibus orci, eu consectetur erat lacus quis est. Quisque efficitur scelerisque ex non porta. Sed vitae mauris in dui dictum euismod eu vitae libero. Nullam sollicitudin non orci sollicitudin consectetur. In nec leo vel magna sollicitudin euismod at nec enim. Nunc varius dictum justo sit amet tempus.
      section.full-bg
        .flexy
          figure.fadeIn
            img(src='assets/images/works/guarde-mais-motion/guarde-mais-motion-1.jpg', alt='Guarde Mais')
          figure.fadeIn
            img(src='assets/images/works/guarde-mais-motion/guarde-mais-motion-2.jpg', alt='Guarde Mais')
          figure.fadeIn
            img(src='assets/images/works/guarde-mais-motion/guarde-mais-motion-3.jpg', alt='Guarde Mais')
          .video-responsive
            iframe(src='https://player.vimeo.com/video/144430743?color=d4ea01&title=0&byline=0&portrait=0', width='500', height='281', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')

      section
        .flexy.flexy--row.projects--related.browser.fadeIn
          h4.content__title--center Title teste
          .projects
            a.item
              img(src='assets/images/work-related.jpg', alt='Some image')
              | sdfd
            a.item
              img(src='assets/images/work-related.jpg', alt='Some image')
              | sdfd


          //- a.link(href='index.html', data-type='page-transition') voltar

      include footer

//- Transition
.cd-cover-layer
.cd-loading-bar

include scripts-project