nav#menu.menu
  button#trigger-overlay.menu__handle
    span Menu
    span
    span

.menu-overlay.menu-overlay-hugeinc
  button#trigger-close-overlay(type='button') ✕
  nav
    ul
      li
        a(href='#')
          span.animated .01
          strong.animated Dolor sit
      li
        a(href='#')
          span.animated .02
          strong.animated Eu vitae libero
      li
        a(href='#')
          span.animated .03
          strong.animated sit
      li
        a(href='#')
          span.animated .04
          strong.animated Orci sollicitudin
      li
        a(href='#')
          span.animated .05
          strong.animated Dolor sit

  .animated.call
    p Sed vitae mauris in dui dictum euismod eu vitae libero. Nullam sollicitudin non orci sollicitudin consectetur. In nec leo vel magna sollicitudin euismod at nec enim. Nunc varius dictum justo sit amet tempus.

