include header

//- Master Wrap : starts
section#mastwrap.mastwrap.slant-bottom.slant-bottom-color
  section#intro.intro.single-project.white-bg.pad-bottom
    .container
      .row
        article.text-left.col-md-12
          .welcome
            h1.font3.black Motion Sphere
            h2.font2.dark
              span.font2.weight-light.dark Motion Design / Video
          img.img-responsive.imgPadding(src='assets/images/works/motion-sphere/motion-sphere-1.jpg', alt='Motion Sphere')
          img.img-responsive.imgPadding(src='assets/images/works/motion-sphere/motion-sphere-3.jpg', alt='Motion Sphere')
          img.img-responsive.imgPadding(src='assets/images/works/motion-sphere/motion-sphere-4.jpg', alt='Motion Sphere')
          img.img-responsive.imgPadding(src='assets/images/works/motion-sphere/motion-sphere-5.jpg', alt='Motion Sphere')
          .video-responsive
            iframe(width='500', height='281', src='https://www.youtube.com/embed/j9McYzC6PiA', frameborder='0', allowfullscreen='')
  section#clients.page.page-section.clients.color-bg
    .container
      .row
        .navarrow
          article.col-xs-2.text-center
            .aux-icon-btn-wrap
              a.aux-icon-btn.black.font2(href='web-beautydate-b2b')
                span.glyphicon.glyphicon-arrow-left.black
                | Prev
          article.col-xs-2.text-center
            .aux-icon-btn-wrap
              a.aux-icon-btn.black.font2(href='index')
                span.glyphicon.glyphicon-th.black
                | All
          article.col-xs-2.text-center
            .aux-icon-btn-wrap
              a.aux-icon-btn.black.font2(href='logo-beauty-date')
                span.glyphicon.glyphicon-arrow-right.black
                | Next
//- Master Wrap : ends

script.
  $(document).ready(function () {
  $('.bxslider').bxSlider({
  preloadImages: 'visible',
  touchEnabled: true,
  responsive: true,
  pager: false,
  controls: true
  });
  });

include footer
