include header

//- Master Wrap : starts
section#mastwrap.mastwrap.slant-bottom.slant-bottom-color
  section#intro.intro.single-project.white-bg.pad-bottom
    .container
      .row
        article.text-left.col-md-12
          .welcome
            h1.font3.black Clock Stock
            h2.font2.dark
              span.font2.weight-light.dark UX Design / Front-end
          img.img-responsive.imgWeb(src='assets/images/works/clockstock/web-clockstock-responsive.jpg', alt='Website clock Stock')
          img.browser.img-responsive(src='assets/images/browser.png')
          img.img-responsive.imgWeb(src='assets/images/works/clockstock/web-clockstock-1.jpg', alt='Website clock Stock')
          img.browser.img-responsive(src='assets/images/browser.png')
          img.img-responsive.imgWeb(src='assets/images/works/clockstock/web-clockstock-2.jpg', alt='Website clock Stock')
  section#clients.page.page-section.clients.color-bg
    .container
      .row
        .navarrow
          article.col-xs-2.text-center
            .aux-icon-btn-wrap
              a.aux-icon-btn.black.font2(href='motion-ipiranga-rock-in-rio')
                span.glyphicon.glyphicon-arrow-left.black
                | Prev
          article.col-xs-2.text-center
            .aux-icon-btn-wrap
              a.aux-icon-btn.black.font2(href='index')
                span.glyphicon.glyphicon-th.black
                | All
          article.col-xs-2.text-center
            .aux-icon-btn-wrap
              a.aux-icon-btn.black.font2(href='motion-promova')
                span.glyphicon.glyphicon-arrow-right.black
                | Next
//- Master Wrap : ends

script.
  $(document).ready(function () {
  $('.bxslider').bxSlider({
  preloadImages: 'visible',
  touchEnabled: true,
  responsive: true,
  pager: false,
  controls: true
  });
  });

include footer