/* Parallax */

div.parallax-area{
    overflow:hidden;
    display:block;
    position:relative;
}

div.parallax-element, h2.parallax-element{
    display:block;
    position: relative;
}

/* Revealer */

.block-revealer__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    pointer-events: none;
    opacity: 0;
}

/* Move figure */

figure.moveRight img, figure.moveRight video {
  -webkit-transition: all 0.35s, -webkit-transform 0.35s;
  transition: all 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px,0, 0);
  transform: translate3d(-40px,0,0);
  cursor: pointer;
  -webkit-filter: grayscale(80%);
  -moz-filter:    grayscale(80%);
  -ms-filter:     grayscale(80%);
  -o-filter:      grayscale(80%);
  filter: gray; 
}

.hover:hover figure.moveRight img, .hover:hover figure.moveRight video{
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  filter: none;
  -webkit-filter: grayscale(0%);
  -moz-filter:    grayscale(0%);
  -ms-filter:     grayscale(0%);
  -o-filter:      grayscale(0%);
}

figure.moveLeft img, figure.moveLeft video {
  -webkit-transition: all 0.35s, -webkit-transform 0.35s;
  transition: all 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0px,0, 0);
  transform: translate3d(0px,0,0);
  cursor: pointer;
  -webkit-filter: grayscale(80%);
  -moz-filter:    grayscale(80%);
  -ms-filter:     grayscale(80%);
  -o-filter:      grayscale(80%);
  filter: gray; 
}

.hover:hover figure.moveLeft img, .hover:hover figure.moveLeft video{
  -webkit-transform: translate3d(-40px,0,0);
  transform: translate3d(-40px,0,0);
  filter: none;
  -webkit-filter: grayscale(0%);
  -moz-filter:    grayscale(0%);
  -ms-filter:     grayscale(0%);
  -o-filter:      grayscale(0%);
}

@media screen and (max-width: 48em) {
  figure.moveRight img, figure.moveRight video {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    filter: none;
    -webkit-filter: grayscale(0%);
    -moz-filter:    grayscale(0%);
    -ms-filter:     grayscale(0%);
    -o-filter:      grayscale(0%);
  }
  figure.moveLeft img, figure.moveLeft video{
    -webkit-transform: translate3d(-30px,0,0);
    transform: translate3d(-30px,0,0);
    filter: none;
    -webkit-filter: grayscale(0%);
    -moz-filter:    grayscale(0%);
    -ms-filter:     grayscale(0%);
    -o-filter:      grayscale(0%);
  }
}

/* SVG Morph */
.morph-wrap {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: -1;
}

.content-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    pointer-events: none;
}

/* Fade in image */

.fadeIn {
    visibility: hidden;
}

.fadeIn.visible {
    -webkit-animation: animat_show 2s;
    animation: animat_show 2s;
    visibility: visible !important;
}

@-webkit-keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}


/* Click Effect */


.cbutton {
  position: relative;
  display: inline-block;
/*  margin: 1em;*/
  padding: 0;
  border: none;
  background: none;
  color: #fff;
  font-size: 1.4em;
  overflow: visible;
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.cbutton.cbutton--click,
.cbutton:focus,
.cbutton:hover {
  outline: none;
  color: #D4EA01;
}

.cbutton i {
  display: block;
}

.cbutton i.arrow-down{
  background: url(../img/arrow-down.svg) no-repeat;
  width: 30px;
  height: 20px;
  opacity: 0.4;
}

.cbutton::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -35px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  content: '';
  opacity: 0;
  pointer-events: none;
  box-shadow: inset 0 0 0 35px #d4ea0130
}

.cbutton.cbutton--click::after {
  -webkit-animation: anim-effect-boris 0.3s forwards;
  animation: anim-effect-boris 0.3s forwards;
}

@-webkit-keyframes anim-effect-boris {
  0% {
    -webkit-transform: scale3d(0.3, 0.3, 1);
    transform: scale3d(0.3, 0.3, 1);
  }
  25%, 50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
}

@keyframes anim-effect-boris {
  0% {
    -webkit-transform: scale3d(0.3, 0.3, 1);
    transform: scale3d(0.3, 0.3, 1);
  }
  25%, 50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
}