/* Menu */

::-moz-selection { /* Code for Firefox */
    background: #4f49ff;
    color: #000;
}

.sidebar{
  top: 125px;
  left: 20px;
  z-index: 9;
  position: fixed;
}

.menu__handle {
  background: transparent;
  border: none;
  width: 35px;
  height: 40px;
  padding: 0;
  outline: none;
  transition: 1s;
  position: absolute;
  left: 10px;
  margin-top: 5px;
}

@media screen and (max-width: 38.3em) {
  .sidebar{
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 91vw;
    left: 0;
    padding: 20px 20px 15px;
    background-color: #fafafa;
  }
  .menu-overlay .sidebar{
    background: transparent;
  }
  .menu__handle {
    position: unset;
    margin-top: -4px;
  }
}

.menu__handle span{
  height: 2px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: 8px;
  display: block;
  text-indent: 99999px;
  color: #fff;
  border-bottom: 3px solid #202025;
}

.menu__handle span:nth-of-type(1){
  width: 70%;
}

.menu__handle span:nth-of-type(2){
  width: 100%;
}

.menu__handle span:nth-of-type(3){
  width: 50%;
}

.menu__handle:hover span{
  width: 100% !important;
  border-color: #4f49ff;
}

/* Menu overlay */

.menu-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fafafa;
  z-index: 9999;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 64em) {
  .menu-overlay {
    flex-direction: column;
  }
}

.menu-overlay #trigger-close-overlay {
  width: 40px;
  height: 30px;
  border: none;
  outline: none;
  background: transparent;
  /*color: #5F5E66;*/
  font-size: 40px;
  line-height: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: 12px;
}

@media screen and (max-width: 38.3em) {
  .menu-overlay #trigger-close-overlay {
    width: unset;
    height: unset;
  }
  .menu__handle span{
    margin: 0 0 5px 0;
  }
  .menu-overlay #trigger-close-overlay {
    margin-top: 0;
  }
}

.menu-overlay #trigger-close-overlay:hover {
  color: #4f49ff;
}

.sidebar .home{
  display: block;
  transform: rotate(270deg);
  color: #202025;
  font-weight: 700;
  font-size: 14px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sidebar.index .home{
  position: absolute;
  left: -45px;
  top: 20px;
  width: 130px;
}

.sidebar .home:hover{
  color: #4f49ff;
}

@media screen and (max-width: 38.3em) {
  .sidebar .home{
    transform: rotate(0deg);
  }
  .sidebar.index .home{
    position: unset;
  }
}

.sidebar .line{
  border-left: 3px solid #202025;
  height: 20vh;
  margin: 50px 0 50px 20px;
}

.sidebar.index .line{
  height: 13vh;
  margin: 120px 0 50px 20px;
}

@media screen and (max-width: 38.3em) {
  .sidebar .line{
    width: 40vw;
    height: 0;
    border-bottom: 3px solid #202025;
    margin: 8px 0;
    border-left: none;
  }
  .sidebar.index .line{
    height: 0;
    width: 30vw;
    margin: 9px;
  }
}


/* Call Menu */

.menu-overlay .call{
  width: 80%;
  margin: 40px 60px;
}

.menu-overlay .call p{
  line-height: 34px;
  font-size: 18px;
  max-width: 430px;
  margin: 0 auto;
  font-weight: 600;
}

.menu-overlay .call p span{
  display: block;
  font-size: 70px;
  margin: 40px 0 20px;
}

.menu-overlay .call p a{
  color: #4f49ff;
}

.menu-overlay ul.links{
  max-width: 430px;
  margin: 0 auto;
  display: block;
}

.menu-overlay ul.links li{
  list-style: none;
  margin-right:28px;
  text-align: right;
  width: auto;
}

.menu-overlay ul.links li a{
  position: relative;
  padding-bottom: 5px;
  color: #202025;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 15px;
}

.menu-overlay ul.links li a:hover{
  color: #fff;
}

.menu-overlay ul.links li a:after{
  content: "";
  position: absolute;
  width: 100%;
  background: #4f49ff;
  height: 3px;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  z-index: -1;
}

.menu-overlay ul.links li a:hover:after{
  height: calc(100% + 5px);
  width: calc(100% + 20px);
  left: -10px;
}

.menu-overlay ul.contents{
  max-width: 430px;
  margin: 40px auto 0;
  display: block;
}

.menu-overlay ul.contents li{
  margin: 0 0 20px;
}

.menu-overlay ul.contents li a{
  color: #202025;
  font-size: 28px;
  border: 1px solid #d9d7e3;
  padding: 20px;
  border-radius: 4px;
  display: block;
  font-size: 20px;
  width: max-content;
  transition: .3s;
}
.menu-overlay ul.contents li a:hover{
  background: #fff;
}

.menu-overlay ul.contents li a span{
  background-color: #4f49ff;
  color: #fff;
  padding: 5px;
  width: auto;
  font-size: 20px;
  margin-right: 10px;
}

@media screen and (max-width: 64em) {
  .menu-overlay .call p, .menu-overlay ul.links{
    max-width: 78vw;
    margin: 0 0 0 14vw;
  }
}

@media screen and (max-width: 48em) {
  .menu-overlay .call p, .menu-overlay ul.contents{
    display: none;
  }
}

/* Menu style */

.menu-overlay nav {
  margin: 60px 0 0 15vw;
}

.menu-overlay nav.hide {
  display: none;
}

.menu-overlay nav.backup {
  display: none;
}

.menu-overlay nav.backup.show {
  display: block;
}

.menu-overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
  width: 600px;
}

.menu-overlay ul li{
  margin: 3vh 0;
  display: inline-block;
  width: 100%;
}

@media screen and (max-width: 64em) {
  .menu-overlay nav {
    margin: 10vh 0 0 10vw;
  }
  .menu-overlay ul {
    width: 78vw;
    border-right: none;
    border-bottom: 1px solid #1f1f1f;
    padding-bottom: 20px;
  }
  .menu-overlay ul li{
    float: left;
    width: 50%;
  }
}

@media screen and (max-width: 48em) {
  .menu-overlay nav {
    margin: 100px auto 0;
  }
  .menu-overlay ul {
    width: 330px;
    border-bottom: none;
  }
  .menu-overlay ul li{
    float: unset;
    width: 100%;
    margin: 2vh 0;
  }
}
@media screen and (max-width: 38.3em) {
  .menu-overlay ul {
    max-height: 82vh;
    overflow: hidden;
  }
}

.menu-overlay ul li a{
  color: #d9d7e3;
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 700;
}

.menu-overlay ul li a:hover{
  color: #202025;
}

.menu-overlay ul li a span{
  font-size: 18px;
  font-weight: 700;
  float: left;
  width: 8vw;
  max-width: 90px;
  line-height: 14px;
}


.menu-overlay ul li a strong{
  font-size: 32px;
  float: left;
  text-transform: uppercase;
  line-height: 29px;
  padding-left: 50px;
  width: 500px;
  position: relative;
}

.menu-overlay ul li a strong small{
  font-size: 20px;
}

@media screen and (max-width: 38.3em) {
  .menu-overlay ul li a strong small{
    font-size: 16px;
  }
  .menu-overlay ul.links{
    margin: -55px 0 0 0;
    overflow: inherit;
    border-top: 1px solid #d9d6e3;
  }
  .menu-overlay ul.links li {
    list-style: none;
    margin: 30px auto 0;
    text-align: center;
    width: 49%;
  }
  .menu-overlay ul.links li a{
    width: 100px;
    margin: 0 auto;
  }
}

.menu-overlay ul li a:hover strong small{
  color: #4f49ff;
  transition: all 0.5s;f
}

@media screen and (max-width: 64em) {
  .menu-overlay ul li a strong{
    font-size: 20px;
    line-height: 22px;
  }
  .menu-overlay ul li a{
    color: #202025;
  }
  .menu-overlay ul li a strong small{
    color: #4f49ff;
  }
  .menu-overlay ul li a span{
    width: 30px;
    font-size: 14px;
    margin-bottom: -20px;
  }
}

.menu-overlay ul li a strong:before{
  content: '';
  background: #d9d7e3;
  height: 3px;
  width: 40px;
  display: block;
  float: left;
  position: absolute;
  bottom: 7px;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-overlay ul li a:hover strong:before{
  background: #4f49ff;
}

/* Effects */
.menu-overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s .3s, visibility 1s;
  transition: opacity 1s .3s, visibility 1s;
/*  animation-delay: 0.1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;*/
}

.menu-overlay-hugeinc.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

/*.menu-overlay-hugeinc nav {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.menu-overlay-hugeinc nav ul {
  opacity: 0.4;
  -webkit-transform: translateY(-25%) rotateX(35deg);
  transform: translateY(-25%) rotateX(35deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.menu-overlay-hugeinc.open nav ul {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.menu-overlay-hugeinc.close nav ul {
  -webkit-transform: translateY(25%) rotateX(-35deg);
  transform: translateY(25%) rotateX(-35deg);
}

@media screen and (max-height: 30.5em) {
  .menu-overlay nav {
    height: 70%;
    font-size: 34px;
  }
  .menu-overlay ul li {
    min-height: 34px;
  }
}*/

/* Animacao slide */

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0;
}

.menu-overlay strong.slideInLeft {
  animation-name: slideInLeft;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  animation-fill-mode: forwards;
  -webkit-backface-visibility: visible;
}

.menu-overlay li:nth-of-type(2) strong.slideInLeft{
    animation-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.menu-overlay li:nth-of-type(3) strong.slideInLeft{
    animation-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.menu-overlay li:nth-of-type(4) strong.slideInLeft{
    animation-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.menu-overlay li:nth-of-type(5) strong.slideInLeft{
    animation-delay: 0.4s;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.menu-overlay li:nth-of-type(6) strong.slideInLeft{
    animation-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.menu-overlay strong.slideOutLeft {
  animation-name: slideOutLeft;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.menu-overlay li:nth-of-type(2) strong.slideOutLeft{
    animation-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.menu-overlay li:nth-of-type(3) strong.slideOutLeft{
    animation-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.menu-overlay li:nth-of-type(4) strong.slideOutLeft{
    animation-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.menu-overlay li:nth-of-type(5) strong.slideOutLeft{
    animation-delay: 0.4s;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.menu-overlay li:nth-of-type(6) strong.slideOutLeft{
    animation-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.menu-overlay a span.slideInUp {
  animation-name: slideInUp;
  opacity: 1;
  -webkit-transition: opacity 1s;
  animation-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition: opacity 3s;
}

.menu-overlay li:nth-of-type(2) a span.slideInUp {
    animation-delay: 0.4s;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.menu-overlay li:nth-of-type(3) a span.slideInUp {
    animation-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.menu-overlay li:nth-of-type(4) a span.slideInUp{
    animation-delay: 0.6s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

.menu-overlay li:nth-of-type(5) a span.slideInUp{
    animation-delay: 0.7s;
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
}

.menu-overlay li:nth-of-type(6) a span.slideInUp{
    animation-delay: 0.8s;
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
}


.menu-overlay a span.slideOutDown {
  animation-name: slideOutDown;
  opacity: 0;
  -webkit-transition: opacity 1s;
}

.menu-overlay li:nth-of-type(2) a span.slideOutDown {
    animation-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.menu-overlay li:nth-of-type(3) a span.slideOutDown {
    animation-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.menu-overlay li:nth-of-type(4) a span.slideOutDown{
    animation-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.menu-overlay li:nth-of-type(5) a span.slideOutDown{
    animation-delay: 0.4s;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.menu-overlay li:nth-of-type(5) a span.slideOutDown{
    animation-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.menu-overlay .call.slideInUp{
    animation-name: slideInUp;
    opacity: 1;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    animation-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.menu-overlay .call.slideOutDown{
  animation-name: slideOutDown;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  animation-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}


@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
  }
}


@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
  }
}

/* Scroll */

.scroll-to{
    opacity: 1;
    visibility: visible;
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    transform-origin: right bottom;
    transform: rotate(-90deg);
    color: #000;
    z-index: 8;
    transition: 0.3s cubic-bezier(0.65, 0, 0.17, 0.98);
    right: 20px;
    bottom: 330px;
}

.scroll-to.scroll-project{
    bottom: unset;
    top: 540px;
}

@media screen and (max-width: 38.3em){
  .scroll-to.scroll-project{
    top: 67vh;
  }
}

.scroll-index{
  bottom: 220px;
}

.scroll-to:hover {
    padding-right: 40px;
    color: #000;
}

.scroll-arrow {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: url(../images/arrow-scroll.png) no-repeat center center / 9px 13px;
}

.scroll-line {
    width: 90px;
    height: 2px;
    display: inline-block;
    background: #000;
    position: relative;
    top: -4px;
    left: -6px;
    transition: 0.3s cubic-bezier(0.65, 0, 0.17, 0.98);
}

.scroll-to:hover .scroll-line {
    width: 50px;
}

.scroll-project .scroll-arrow{
background-image: url(../images/arrow-scroll-light.png)
}
.scroll-project .scroll-line{
  background: #fafafa;
}
.scroll-to.scroll-project, .scroll-to.scroll-project:hover{
  color: #fafafa;
} 

#call-to-action .scroll-to {
    transform: rotate(90deg);
    bottom: 80px;
    padding-bottom: 10px;
    right: 60px;

}

#call-to-action .scroll-to .text{
  display: inline-block;
  transform: rotate(-180deg);
}

@media screen and (max-width: 42em){
  #call-to-action .scroll-to{
    top: 730px;
    right: 30px;
  }
  #call-to-action .scroll-arrow{
    background-image: url(../images/arrow-scroll-light.png)
  }
  #call-to-action .scroll-line{
    background: #fafafa;
  }
  #call-to-action .scroll-to{
    color: #fafafa;
  }
}