doctype html
head
	title Redesign Manager BDA 2018
	script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
	script(type='text/javascript', src='js/scripts.js')

	link(rel='stylesheet', type='text/css', href='css/general.css')

	script(type='text/javascript', src='js/perfect-scrollbar.js')
	link(rel='stylesheet', type='text/css', href='css/perfect-scrollbar.css')

body