#main-menu
	a.index(href="index.html")
	a.agenda(href="agenda.html")
		img(src='img/main-menu/icon-agenda.png')
		img.hover(src='img/main-menu/hover-agenda.png')
	a.sales-order(href="sales-order.html")
		img(src='img/main-menu/icon-sales-order.png')
		img.hover(src='img/main-menu/hover-sales-order.png')
	a.clients(href="clients.html")
		img(src='img/main-menu/icon-clients.png')
		img.hover(src='img/main-menu/hover-clients.png')
	a.professionals(href="professionals.html")
		img(src='img/main-menu/icon-professionals.png')
		img.hover(src='img/main-menu/hover-professionals.png')
	a.services(href="services.html")
		img(src='img/main-menu/icon-services-active.png')
		img.hover(src='img/main-menu/hover-services.png')
	a.inventory(href="inventory.html")
		img(src='img/main-menu/icon-inventory.png')
		img.hover(src='img/main-menu/hover-inventory.png')
	a.cash-flow(href="cash-flow.html")
		img(src='img/main-menu/icon-cash-flow.png')
		img.hover(src='img/main-menu/hover-cash-flow.png')
	a.reports(href="reports.html")
		img(src='img/main-menu/icon-reports.png')
		img.hover(src='img/main-menu/hover-reports.png')
	a.settings(href="settings.html")
		img(src='img/main-menu/icon-settings.png')
		img.hover(src='img/main-menu/hover-settings.png')
	.mask.one
	.mask.two
	.mask.three
	.help
		img(src='img/main-menu/icon-help.png')