
<div id="top-menu"></div>
<div id="top-menu-dropdown"><img src="img/top-menu/top-menu-links.png" class="links"/>
  <div id="dropdown-trigger" class="btn"></div>
  <div class="dropdown">
    <div class="change btn"></div>
    <div class="new btn"></div>
    <div class="profile btn"></div>
    <div class="logout btn"></div>
  </div>
</div>
<div id="agenda-modal-change-business" class="modal">
  <div class="close-modal btn"></div>
  <ul>
    <li class="btn"></li>
    <li class="btn"></li>
    <li class="btn"></li>
    <li class="btn"></li>
  </ul>
</div>